.size-2{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(246,244,241) 0%, rgb(255,161,51) 100%);height:130px;}
.cont-8{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.cont-10{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.size-60{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,161,51) 0%, rgb(243,189,12) 100%);height:592px;}
.size-62{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);height:592px;}
.size-63{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);height:592px;}
