html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
#body{background-color:rgb(246,244,241);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:1200px;min-height:936px;}
.cont{z-index:1;border:0;background:transparent url(../images/bokeh-320.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{width:100%;min-width:1200px;min-height:130px;}
.cont-2{z-index:7;border:0;border-radius:65px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(246,244,241)), color-stop(1, rgb(255,161,51)));background-image:-o-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-webkit-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-ms-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:linear-gradient(to right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-clip:padding-box;}
.pos-2{position:relative;margin-top:43px;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;display:block;}
.pos-3{position:relative;margin-left:757px;margin-top:0;}
.size-3{min-width:410px;width:410px;min-height:45px;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-4{min-width:159px;width:159px;min-height:45px;}
.cont-4{z-index:52;}
.vis-2{display:inline-block;overflow:hidden;outline:0;}
.size-5{width:155px;height:31px;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:13.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:16.48pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:10px;margin-top:0;margin-bottom:0;}
.button{border:2px solid rgba(0,0,0,0.3);border-radius:23px;background-color:rgb(41,41,41);}
.button:hover{background-color:rgba(112,64,28,0.3);border-color:rgba(0,0,0,0.3);color:rgba(0,0,0,0.3);}
.button:active{background-color:rgba(112,64,28,0.3);border-color:rgba(0,0,0,0.3);color:rgb(246,244,241);}
.pos-6{position:relative;margin-left:16px;margin-top:0;}
.size-6{min-width:235px;width:235px;min-height:45px;}
.cont-5{z-index:53;}
.size-7{width:231px;height:31px;}
.pos-7{position:relative;margin-top:-130px;}
.pos-8{position:relative;margin-left:34px;margin-top:0;}
.size-8{min-width:231px;width:231px;min-height:130px;height:130px;}
.cont-6{z-index:51;}
.img{position:absolute;left:23px;width:183px;height:130px;top:0;border:0;}
.img-2{left:23px;width:183px;height:130px;top:0;}
.pos-9{position:relative;margin-left:-83px;margin-top:253px;}
.size-9{min-width:835px;width:835px;min-height:281px;}
.colwrapper{line-height:0;}
.size-10{min-width:825px;width:825px;min-height:271px;}
.cont-7{z-index:8;border:5px solid rgb(246,244,241);background:transparent url(../images/furgonicino2-320.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-10{position:relative;margin-left:49px;margin-top:7px;}
.size-11{min-width:722px;width:722px;min-height:81px;}
.pos-11{position:relative;margin-left:0;margin-top:75px;}
.size-12{min-width:200px;width:200px;min-height:6px;height:6px;}
.cont-8{z-index:9;border:0;background-color:rgba(255,255,255,0.5);}
.pos-12{position:relative;margin-left:0;margin-top:0;}
.size-13{min-width:322px;width:322px;min-height:65px;}
.cont-9{z-index:10;}
.para{padding-top:0;text-indent:0;margin-top:6.84pt;margin-bottom:-6.84pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-2{font-family:Lato;font-size:28.50pt;font-weight:300;font-style:italic;text-decoration:none;color:rgb(70,36,12);line-height:47.88pt;letter-spacing:normal;}
.pos-13{position:relative;margin-left:0;margin-top:75px;}
.cont-10{z-index:11;border:0;background-color:rgba(255,255,255,0.5);}
.pos-14{position:relative;margin-left:44px;margin-top:-239px;}
.size-14{min-width:750px;width:750px;min-height:227px;}
.size-15{min-width:750px;width:750px;min-height:225px;}
.cont-11{z-index:47;}
.para-2{padding-top:0;text-indent:0;margin-top:17.64pt;margin-bottom:-17.64pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-3{font-family:Lato;font-size:73.50pt;font-weight:900;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:123.48pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:0;margin-top:-223px;}
.cont-12{z-index:34;}
.para-3{padding-top:0;text-indent:0;margin-top:22.50pt;margin-bottom:-22.50pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-4{font-family:Lato;font-size:93.75pt;font-weight:900;font-style:normal;text-decoration:none;color:rgba(112,64,28,0.3);line-height:157.50pt;letter-spacing:normal;}
.pos-16{position:relative;margin-left:417px;margin-top:-63px;}
.size-16{min-width:366px;width:366px;min-height:125px;height:125px;}
.cont-13{z-index:12;}
.img-3{position:absolute;left:120px;width:125px;height:125px;top:0;border:0;}
.img-4{left:120px;width:125px;height:125px;top:0;}
.pos-17{position:relative;margin-top:-64px;}
.size-17{min-width:1200px;width:1200px;min-height:400px;}
.size-18{min-width:400px;width:400px;min-height:400px;}
.cont-14{z-index:13;border:0;background-color:rgb(255,255,255);}
.pos-18{position:relative;margin-left:22px;margin-top:35px;}
.size-19{min-width:355px;width:355px;min-height:229px;}
.cont-15{z-index:14;}
.size-20{min-width:355px;width:355px;min-height:67px;}
.font-5{font-family:"Dancing Script";font-size:28.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:47.88pt;letter-spacing:normal;}
.pos-19{position:relative;margin-left:25px;margin-top:1px;}
.size-21{min-width:305px;width:305px;min-height:161px;}
.para-4{padding-top:0;text-indent:0;margin-top:4.58pt;margin-bottom:-4.58pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-6{font-family:Jura;font-size:22.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:32.08pt;letter-spacing:3.50px;}
.font-7{font-family:Jura;font-size:22.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:32.08pt;letter-spacing:normal;}
.para-5{padding-top:0;text-indent:0;margin-top:3.82pt;margin-bottom:-3.82pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-8{font-family:Jura;font-size:18.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:26.74pt;letter-spacing:normal;}
.pos-20{position:relative;margin-left:18px;margin-top:36px;}
.size-22{min-width:366px;width:366px;min-height:73px;}
.size-23{min-width:177px;width:177px;min-height:73px;height:73px;}
.cont-16{z-index:15;}
.anchor{display:block;width:177px;}
.img-5{position:absolute;left:0;width:177px;height:68px;top:2px;border:0;}
.img-6{left:0;width:177px;height:68px;top:2px;}
.pos-21{position:relative;margin-left:28px;margin-top:8px;}
.size-24{min-width:161px;width:161px;min-height:53px;height:53px;}
.cont-17{z-index:16;}
.anchor-2{display:block;width:161px;}
.img-7{position:absolute;left:2px;width:156px;height:53px;top:0;border:0;}
.img-8{left:2px;width:156px;height:53px;top:0;}
.size-25{min-width:800px;width:800px;min-height:398px;height:398px;}
.cont-18{z-index:30;}
.img-9{position:absolute;left:0;width:800px;height:398px;top:0;border:0;}
.img-10{left:0;width:800px;height:398px;top:0;}
.pos-22{position:relative;margin-left:0;margin-top:-3px;}
.pos-23{position:relative;margin-left:0;margin-top:1px;}
.cont-19{z-index:17;}
.cont-20{z-index:18;border:0;background-color:rgb(255,255,255);}
.pos-24{position:relative;margin-left:22px;margin-top:35px;}
.size-26{min-width:355px;width:355px;min-height:342px;}
.cont-21{z-index:19;}
.size-27{min-width:355px;width:355px;min-height:100px;}
.para-6{padding-top:0;text-indent:0;margin-top:9.00pt;margin-bottom:-9.00pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-9{font-family:"Dancing Script";font-size:37.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:63.00pt;letter-spacing:normal;}
.pos-25{position:relative;margin-left:25px;margin-top:0;}
.size-28{min-width:305px;width:305px;min-height:242px;}
.para-7{padding-top:0;text-indent:0;margin-top:2.07pt;margin-bottom:-2.07pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-10{font-family:Lato;font-size:17.25pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:24.84pt;letter-spacing:normal;}
.pos-26{position:relative;margin-top:-69px;}
.size-29{width:100%;min-width:1200px;min-height:585px;}
.cont-22{z-index:5;border:0;background:rgb(20,156,179) url(../images/strada-320.jpg) no-repeat 50% 0;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-27{position:relative;margin-top:171px;}
.pos-28{position:relative;margin-left:207px;margin-top:0;}
.size-30{min-width:775px;width:775px;min-height:203px;}
.cont-23{z-index:20;border:5px solid rgb(246,244,241);background:transparent url(../images/strada-320-1.jpg) no-repeat 50% 0;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-29{position:relative;margin-left:14px;margin-top:27px;}
.size-31{min-width:750px;width:750px;min-height:148px;}
.cont-24{z-index:21;}
.para-8{padding-top:0;text-indent:0;margin-top:4.50pt;margin-bottom:-4.50pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-11{font-family:Lato;font-size:37.50pt;font-weight:300;font-style:italic;text-decoration:none;color:rgb(246,244,241);line-height:54.00pt;letter-spacing:normal;}
.pos-30{position:relative;margin-top:-73px;}
.size-32{min-width:1200px;width:1200px;min-height:161px;}
.size-33{min-width:1200px;width:1200px;min-height:148px;height:148px;}
.cont-25{z-index:22;border:0;background-color:rgb(246,244,241);}
.pos-31{position:relative;margin-left:118px;margin-top:-135px;}
.size-34{min-width:968px;width:968px;min-height:148px;}
.cont-26{z-index:25;}
.para-9{padding-top:0;text-indent:0;margin-top:13.50pt;margin-bottom:-13.50pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-12{font-family:"Dancing Script";font-size:56.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:94.50pt;letter-spacing:normal;}
.pos-32{position:relative;margin-left:0;margin-top:0;}
.size-35{min-width:1200px;width:1200px;min-height:1672px;}
.size-36{min-width:1200px;width:1200px;min-height:1670px;}
.pos-33{position:relative;margin-left:501px;margin-top:0;}
.size-37{min-width:200px;width:200px;min-height:8px;height:8px;}
.cont-27{border:0;background-color:rgb(223,223,223);}
.pos-34{position:relative;margin-left:0;margin-top:4px;}
.size-38{min-width:1200px;width:1200px;min-height:1658px;height:1658px;}
.cont-28{z-index:27;border:0;background-color:rgb(255,255,255);}
.pos-35{position:relative;margin-left:0;margin-top:-1661px;}
.size-39{min-width:1200px;width:1200px;min-height:1663px;}
.cont-29{z-index:28;}
.para-10{padding-top:0;text-indent:0;margin-top:3.75pt;margin-bottom:-3.75pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-13{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:26.25pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:3.45pt;margin-bottom:-3.45pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-14{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:24.15pt;letter-spacing:normal;}
.pos-36{position:relative;margin-top:-2px;}
.size-40{width:100%;min-width:1200px;min-height:1920px;}
.cont-30{z-index:6;border:0;background-color:rgb(20,156,179);}
.pos-37{position:relative;margin-top:2px;}
.pos-38{position:relative;margin-left:106px;margin-top:0;}
.cont-31{z-index:26;}
.font-15{font-family:"Dancing Script";font-size:56.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:94.50pt;letter-spacing:normal;}
.pos-39{position:relative;margin-left:488px;margin-top:27px;}
.cont-32{z-index:29;border:0;background-color:rgb(246,244,241);}
.pos-40{position:relative;margin-left:55px;margin-top:26px;}
.size-41{min-width:1066px;width:1066px;min-height:50px;}
.cont-33{z-index:31;}
.para-12{padding-top:0;text-indent:0;margin-top:2.52pt;margin-bottom:-2.52pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-16{font-family:Lato;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:30.24pt;letter-spacing:normal;}
.pos-41{position:relative;margin-left:212px;margin-top:25px;}
.size-42{min-width:750px;width:750px;min-height:206px;}
.cont-34{z-index:32;}
.para-13{padding-top:0;text-indent:0;margin-top:10.80pt;margin-bottom:-10.80pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-17{font-family:"Dancing Script";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:75.60pt;letter-spacing:normal;}
.font-18{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:22.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:31.50pt;letter-spacing:normal;}
.para-14{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-19{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgba(0,0,0,0.3);line-height:18.90pt;letter-spacing:normal;}
.para-15{padding-top:0;text-indent:0;margin-top:5.94pt;margin-bottom:-5.94pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-20{font-family:Lato;font-size:24.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:41.58pt;letter-spacing:normal;}
.pos-42{position:relative;margin-left:215px;margin-top:18px;}
.cont-35{z-index:67;}
.para-16{padding-top:0;text-indent:0;margin-top:3.45pt;margin-bottom:-3.45pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-21{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:24.15pt;letter-spacing:normal;}
.para-17{padding-top:0;text-indent:0;margin-top:2.85pt;margin-bottom:-2.85pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-22{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:19.95pt;letter-spacing:normal;}
.pos-43{position:relative;margin-left:225px;margin-top:-212px;}
.size-43{min-width:298px;width:298px;min-height:123px;}
.size-44{min-width:115px;width:115px;min-height:123px;height:123px;}
.cont-36{z-index:33;}
.img-11{position:absolute;left:0;width:115px;height:115px;top:4px;border:0;}
.img-12{left:0;width:115px;height:115px;top:4px;}
.pos-44{position:relative;margin-left:66px;margin-top:0;}
.size-45{min-width:117px;width:117px;min-height:123px;height:123px;}
.cont-37{z-index:37;}
.img-13{position:absolute;left:0;width:117px;height:117px;top:3px;border:0;}
.img-14{left:0;width:117px;height:117px;top:3px;}
.pos-45{position:relative;margin-left:212px;margin-top:0;}
.cont-38{z-index:64;}
.pos-46{position:relative;margin-left:298px;margin-top:-212px;}
.size-46{min-width:160px;width:160px;min-height:98px;height:98px;}
.cont-39{z-index:40;}
.img-15{position:absolute;left:31px;width:98px;height:98px;top:0;border:0;}
.img-16{left:31px;width:98px;height:98px;top:0;}
.pos-47{position:relative;margin-left:213px;margin-top:0;}
.cont-40{z-index:43;}
.pos-48{position:relative;margin-left:268px;margin-top:-225px;}
.size-47{min-width:206px;width:206px;min-height:171px;height:171px;}
.cont-41{z-index:62;}
.img-17{position:absolute;left:0;width:206px;height:157px;top:7px;border:0;}
.img-18{left:0;width:206px;height:157px;top:7px;}
.cont-42{z-index:46;}
.pos-49{position:relative;margin-left:314px;margin-top:-219px;}
.size-48{min-width:121px;width:121px;min-height:93px;height:93px;}
.cont-43{z-index:60;}
.img-19{position:absolute;left:14px;width:93px;height:93px;top:0;border:0;}
.img-20{left:14px;width:93px;height:93px;top:0;}
.cont-44{z-index:48;}
.pos-50{position:relative;margin-left:317px;margin-top:-225px;}
.size-49{min-width:118px;width:118px;min-height:122px;height:122px;}
.cont-45{z-index:58;}
.img-21{position:absolute;left:0;width:118px;height:118px;top:2px;border:0;}
.img-22{left:0;width:118px;height:118px;top:2px;}
.cont-46{z-index:56;}
.pos-51{position:relative;margin-left:307px;margin-top:-215px;}
.size-50{min-width:136px;width:136px;min-height:115px;height:115px;}
.cont-47{z-index:49;}
.img-23{position:absolute;left:10px;width:115px;height:115px;top:0;border:0;}
.img-24{left:10px;width:115px;height:115px;top:0;}
.pos-52{position:relative;margin-top:0;}
.size-51{width:100%;min-width:1200px;min-height:2989px;}
.cont-48{z-index:55;border:0;background-color:rgb(58,199,189);}
.pos-53{position:relative;margin-top:1px;}
.pos-54{position:relative;margin-left:128px;margin-top:0;}
.cont-49{z-index:69;}
.pos-55{position:relative;margin-top:-2811px;}
.size-52{min-width:1200px;width:1200px;min-height:2811px;}
.cont-50{z-index:70;}
.font-23{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:24.15pt;letter-spacing:normal;}
.font-24{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:24.15pt;letter-spacing:normal;}
.font-25{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:18.90pt;letter-spacing:normal;}
.para-18{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:left;word-wrap:break-word;}
.para-19{padding-top:0;text-indent:0;margin-top:4.50pt;margin-bottom:-4.50pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-26{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:24.15pt;letter-spacing:normal;}
.font-27{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(246,244,241);line-height:24.15pt;letter-spacing:normal;}
.font-28{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17.25pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:24.15pt;letter-spacing:normal;}
.pos-56{position:relative;margin-left:0;margin-top:0;}
.size-53{min-width:1200px;width:1200px;min-height:905px;}
.size-54{min-width:400px;width:400px;min-height:905px;height:905px;}
.cont-51{z-index:54;}
.img-25{position:absolute;left:0;width:400px;height:905px;top:0;border-radius:10px 0 0 10px;border:0;}
.img-26{left:0;width:400px;height:905px;top:0;}
.pos-57{position:relative;margin-left:0;margin-top:0;}
.size-55{min-width:800px;width:800px;min-height:905px;}
.size-56{min-width:800px;width:800px;min-height:511px;height:511px;}
.cont-52{z-index:23;}
.img-27{position:absolute;left:0;width:800px;height:511px;top:0;border-radius:0 10px 0 0;border:0;}
.img-28{left:0;width:800px;height:511px;top:0;}
.pos-58{position:relative;margin-left:628px;margin-top:-96px;}
.size-57{min-width:159px;width:159px;min-height:99px;}
.cont-53{z-index:57;}
.para-20{padding-top:0;text-indent:0;margin-top:7.92pt;margin-bottom:-7.92pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-29{font-family:Lato;font-size:33.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:55.44pt;letter-spacing:normal;}
.pos-59{position:relative;margin-left:0;margin-top:-2px;}
.size-58{min-width:800px;width:800px;min-height:393px;height:393px;}
.cont-54{z-index:59;}
.img-29{position:absolute;left:0;width:800px;height:393px;top:0;border-radius:0 0 10px 0;border:0;}
.img-30{left:0;width:800px;height:393px;top:0;}
.pos-60{position:relative;margin-top:-220px;}
.size-59{width:100%;min-width:1200px;min-height:592px;}
.cont-55{z-index:50;}
.size-60{width:100%;min-width:1200px;min-height:592px;}
.cont-56{z-index:2;border:0;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(255,161,51)), color-stop(1, rgb(243,189,12)));background-image:-o-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:-webkit-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:-ms-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:linear-gradient(to left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-clip:padding-box;}
.size-61{min-width:1198px;width:1198px;min-height:592px;}
.size-62{min-width:600px;width:600px;min-height:592px;height:592px;}
.cont-57{z-index:3;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(243,189,12,0)), color-stop(1, rgb(243,189,12)));background-image:-o-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:-webkit-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:-ms-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:linear-gradient(to right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-clip:padding-box;}
.size-63{min-width:598px;width:598px;min-height:592px;height:592px;}
.cont-58{z-index:4;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(255,161,51)), color-stop(1, rgba(255,161,51,0)));background-image:-o-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:-webkit-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:-ms-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:linear-gradient(to right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-clip:padding-box;}
.pos-61{position:relative;margin-top:-452px;}
.pos-62{position:relative;margin-left:13px;margin-top:0;}
.size-64{min-width:1174px;width:1174px;min-height:99px;}
.size-65{min-width:143px;width:143px;min-height:83px;}
.cont-59{z-index:61;}
.pos-63{position:relative;margin-left:841px;margin-top:1px;}
.size-66{min-width:190px;width:190px;min-height:98px;}
.cont-60{z-index:63;}
.pos-64{position:relative;margin-left:0;margin-top:-14px;}
.size-67{min-width:996px;width:996px;min-height:367px;}
.size-68{min-width:568px;width:568px;min-height:367px;}
.cont-61{z-index:65;}
.para-21{padding-top:0;text-indent:0;margin-top:5.31pt;margin-bottom:-5.31pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-30{font-family:Lato;font-size:44.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:63.72pt;letter-spacing:normal;}
.para-22{padding-top:0;text-indent:0;margin-top:2.25pt;margin-bottom:-2.25pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-31{font-family:Lato;font-size:18.75pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:27.00pt;letter-spacing:normal;}
.font-32{font-family:Lato;font-size:18.75pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:27.00pt;letter-spacing:normal;}
.para-23{padding-top:0;text-indent:0;margin-top:5.22pt;margin-bottom:-5.22pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-33{font-family:Lato;font-size:43.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:62.64pt;letter-spacing:normal;}
.para-24{padding-top:0;text-indent:0;margin-top:2.25pt;margin-bottom:-2.25pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-34{font-family:Lato;font-size:18.75pt;font-weight:300;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:27.00pt;letter-spacing:normal;}
.pos-65{position:relative;margin-left:57px;margin-top:111px;}
.size-69{min-width:371px;width:371px;min-height:137px;}
.size-70{min-width:371px;width:371px;min-height:56px;}
.cont-62{z-index:66;}
.size-71{min-width:68px;width:68px;min-height:56px;height:56px;}
.img-31{position:absolute;left:6px;width:56px;height:56px;top:0;border:0;}
.img-32{left:6px;width:56px;height:56px;top:0;}
.pos-66{position:relative;margin-left:3px;margin-top:3px;}
.size-72{min-width:300px;width:300px;min-height:52px;}
.para-25{padding-top:0;text-indent:0;margin-top:2.52pt;margin-bottom:-2.52pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-35{font-family:Lato;font-size:21.00pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:30.24pt;letter-spacing:normal;}
.pos-67{position:relative;margin-left:0;margin-top:25px;}
.cont-63{z-index:68;}
.pos-68{position:relative;margin-left:3px;margin-top:2px;}
@media (min-width:960px) and (max-width:1199px) {
.size{min-width:960px;min-height:749px;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{min-width:960px;min-height:104px;}
.cont-2{border-radius:52px;}
.pos-2{margin-top:34px;}
.section{min-width:960px;width:960px;}
.pos-3{margin-left:615px;}
.size-3{min-width:322px;width:322px;min-height:37px;}
.size-4{min-width:123px;width:123px;min-height:37px;}
.size-5{width:119px;height:26px;}
.font{font-size:10.50pt;line-height:12.82pt;padding-top:7px;}
.button{border-radius:19px;}
.pos-6{margin-left:18px;}
.size-6{min-width:181px;width:181px;min-height:37px;}
.size-7{width:177px;height:26px;}
.pos-7{margin-top:-104px;}
.pos-8{margin-left:27px;}
.size-8{min-width:185px;width:185px;min-height:104px;height:104px;}
.img{left:18px;width:147px;height:104px;}
.img-2{left:18px;width:147px;height:104px;}
.pos-9{margin-left:-67px;margin-top:202px;}
.size-9{min-width:670px;width:670px;min-height:227px;}
.size-10{min-width:660px;width:660px;min-height:217px;}
.pos-10{margin-left:39px;margin-top:5px;}
.size-11{min-width:578px;width:578px;min-height:65px;}
.pos-11{margin-top:60px;}
.size-12{min-width:160px;width:160px;min-height:5px;height:5px;}
.pos-12{margin-left:19px;}
.size-13{min-width:224px;width:224px;min-height:52px;}
.para{margin-top:5.40pt;margin-bottom:-5.40pt;}
.font-2{font-size:22.50pt;line-height:37.80pt;}
.pos-13{margin-left:15px;margin-top:60px;}
.pos-14{margin-left:36px;margin-top:-193px;}
.size-14{min-width:600px;width:600px;min-height:182px;}
.size-15{min-width:600px;width:600px;min-height:180px;}
.para-2{margin-top:14.04pt;margin-bottom:-14.04pt;}
.font-3{font-size:58.50pt;line-height:98.28pt;}
.pos-15{margin-top:-178px;}
.para-3{margin-top:18.00pt;margin-bottom:-18.00pt;}
.font-4{font-size:75.00pt;line-height:126.00pt;}
.pos-16{margin-left:334px;margin-top:-52px;}
.size-16{min-width:293px;width:293px;min-height:100px;height:100px;}
.img-3{left:96px;width:100px;height:100px;}
.img-4{left:96px;width:100px;height:100px;}
.pos-17{margin-top:-51px;}
.size-17{min-width:960px;width:960px;min-height:320px;}
.size-18{min-width:320px;width:320px;min-height:320px;}
.pos-18{margin-left:18px;margin-top:28px;}
.size-19{min-width:284px;width:284px;min-height:183px;}
.size-20{min-width:284px;width:284px;min-height:54px;}
.font-5{font-size:22.50pt;line-height:37.80pt;}
.pos-19{margin-left:20px;margin-top:0;}
.size-21{min-width:244px;width:244px;min-height:129px;}
.para-4{margin-top:3.67pt;margin-bottom:-3.67pt;}
.font-6{font-size:18.00pt;line-height:25.67pt;}
.font-7{font-size:18.00pt;line-height:25.67pt;}
.para-5{margin-top:3.06pt;margin-bottom:-3.06pt;}
.font-8{font-size:15.00pt;line-height:21.39pt;}
.pos-20{margin-left:15px;margin-top:29px;}
.size-22{min-width:293px;width:293px;min-height:59px;}
.size-23{min-width:142px;width:142px;min-height:59px;height:59px;}
.anchor{width:142px;}
.img-5{width:142px;height:54px;}
.img-6{width:142px;height:54px;}
.pos-21{margin-left:22px;margin-top:6px;}
.size-24{min-width:129px;width:129px;min-height:43px;height:43px;}
.anchor-2{width:129px;}
.img-7{left:1px;width:126px;height:43px;}
.img-8{left:1px;width:126px;height:43px;}
.size-25{min-width:640px;width:640px;min-height:319px;height:319px;}
.img-9{width:640px;height:319px;}
.img-10{width:640px;height:319px;}
.pos-22{margin-top:-2px;}
.pos-24{margin-left:18px;margin-top:28px;}
.size-26{min-width:284px;width:284px;min-height:274px;}
.size-27{min-width:284px;width:284px;min-height:80px;}
.para-6{margin-top:7.20pt;margin-bottom:-7.20pt;}
.font-9{font-size:30.00pt;line-height:50.40pt;}
.pos-25{margin-left:20px;}
.size-28{min-width:244px;width:244px;min-height:194px;}
.para-7{margin-top:1.62pt;margin-bottom:-1.62pt;}
.font-10{font-size:13.50pt;line-height:19.44pt;}
.pos-26{margin-top:-56px;}
.size-29{min-width:960px;min-height:468px;}
.pos-27{margin-top:136px;}
.pos-28{margin-left:165px;}
.size-30{min-width:620px;width:620px;min-height:163px;}
.pos-29{margin-left:11px;margin-top:22px;}
.size-31{min-width:600px;width:600px;min-height:119px;}
.para-8{margin-top:3.60pt;margin-bottom:-3.60pt;}
.font-11{font-size:30.00pt;line-height:43.20pt;}
.pos-30{margin-top:-58px;}
.size-32{min-width:960px;width:960px;min-height:129px;}
.size-33{min-width:960px;width:960px;min-height:119px;height:119px;}
.pos-31{margin-left:95px;margin-top:-109px;}
.size-34{min-width:775px;width:775px;min-height:119px;}
.para-9{margin-top:10.80pt;margin-bottom:-10.80pt;}
.font-12{font-size:45.00pt;line-height:75.60pt;}
.size-35{min-width:960px;width:960px;min-height:1292px;}
.size-36{min-width:960px;width:960px;min-height:1292px;}
.pos-33{margin-left:401px;}
.size-37{min-width:160px;width:160px;min-height:7px;height:7px;}
.pos-34{margin-top:0;}
.size-38{min-width:960px;width:960px;min-height:1285px;height:1285px;}
.pos-35{margin-top:-1285px;}
.size-39{min-width:960px;width:960px;min-height:1285px;}
.para-10{margin-top:3.00pt;margin-bottom:-3.00pt;}
.font-13{font-size:15.00pt;line-height:21.00pt;}
.para-11{margin-top:2.70pt;margin-bottom:-2.70pt;}
.font-14{font-size:13.50pt;line-height:18.90pt;}
.pos-36{margin-top:-21px;}
.size-40{min-width:960px;min-height:1536px;}
.pos-38{margin-left:83px;}
.font-15{font-size:45.00pt;line-height:75.60pt;}
.pos-39{margin-left:390px;margin-top:21px;}
.pos-40{margin-top:20px;}
.size-41{min-width:853px;width:853px;min-height:40px;}
.para-12{margin-top:1.98pt;margin-bottom:-1.98pt;}
.font-16{font-size:16.50pt;line-height:23.76pt;}
.pos-41{margin-left:170px;margin-top:20px;}
.size-42{min-width:600px;width:600px;min-height:165px;}
.para-13{margin-top:8.64pt;margin-bottom:-8.64pt;}
.font-17{font-size:36.00pt;line-height:60.48pt;}
.font-18{font-size:18.00pt;line-height:25.20pt;}
.para-14{margin-top:2.10pt;margin-bottom:-2.10pt;}
.font-19{font-size:10.50pt;line-height:14.70pt;}
.para-15{margin-top:4.68pt;margin-bottom:-4.68pt;}
.font-20{font-size:19.50pt;line-height:32.76pt;}
.pos-42{margin-left:172px;margin-top:14px;}
.para-16{margin-top:2.70pt;margin-bottom:-2.70pt;}
.font-21{font-size:13.50pt;line-height:18.90pt;}
.para-17{margin-top:2.25pt;margin-bottom:-2.25pt;}
.font-22{font-size:11.25pt;line-height:15.75pt;}
.pos-43{margin-left:180px;margin-top:-169px;}
.size-43{min-width:239px;width:239px;min-height:99px;}
.size-44{min-width:92px;width:92px;min-height:99px;height:99px;}
.img-11{width:92px;height:92px;}
.img-12{width:92px;height:92px;}
.pos-44{margin-left:53px;}
.size-45{min-width:94px;width:94px;min-height:99px;height:99px;}
.img-13{width:94px;height:94px;}
.img-14{width:94px;height:94px;}
.pos-45{margin-left:170px;}
.pos-46{margin-left:238px;margin-top:-169px;}
.size-46{min-width:128px;width:128px;min-height:79px;height:79px;}
.img-15{left:24px;width:79px;height:79px;}
.img-16{left:24px;width:79px;height:79px;}
.pos-47{margin-left:171px;}
.pos-48{margin-left:214px;margin-top:-180px;}
.size-47{min-width:165px;width:165px;min-height:137px;height:137px;}
.img-17{width:165px;height:126px;top:5px;}
.img-18{width:165px;height:126px;top:5px;}
.pos-49{margin-left:251px;margin-top:-175px;}
.size-48{min-width:97px;width:97px;min-height:75px;height:75px;}
.img-19{left:11px;width:75px;height:75px;}
.img-20{left:11px;width:75px;height:75px;}
.pos-50{margin-left:253px;margin-top:-180px;}
.size-49{min-width:95px;width:95px;min-height:98px;height:98px;}
.img-21{width:95px;height:95px;}
.img-22{width:95px;height:95px;}
.pos-51{margin-left:245px;margin-top:-172px;}
.size-50{min-width:109px;width:109px;min-height:92px;height:92px;}
.img-23{left:8px;width:92px;height:92px;}
.img-24{left:8px;width:92px;height:92px;}
.size-51{min-width:960px;min-height:2331px;}
.pos-54{margin-left:103px;}
.pos-55{margin-top:-2188px;}
.size-52{min-width:960px;width:960px;min-height:2188px;}
.font-23{font-size:13.50pt;line-height:18.90pt;}
.font-24{font-size:13.50pt;color:rgb(246,244,241);line-height:18.90pt;}
.font-25{font-size:10.50pt;line-height:14.70pt;}
.para-18{margin-top:2.10pt;margin-bottom:-2.10pt;}
.para-19{margin-top:3.60pt;margin-bottom:-3.60pt;}
.font-26{font-size:13.50pt;color:rgb(255,255,255);line-height:18.90pt;}
.font-27{font-size:13.50pt;color:rgb(255,255,255);line-height:18.90pt;}
.font-28{font-size:13.50pt;line-height:18.90pt;}
.size-53{min-width:960px;width:960px;min-height:724px;}
.size-54{min-width:320px;width:320px;min-height:724px;height:724px;}
.img-25{width:320px;height:724px;}
.img-26{width:320px;height:724px;}
.size-55{min-width:640px;width:640px;min-height:724px;}
.size-56{min-width:640px;width:640px;min-height:409px;height:409px;}
.img-27{width:640px;height:409px;}
.img-28{width:640px;height:409px;}
.pos-58{margin-left:518px;margin-top:-65px;}
.size-57{min-width:111px;width:111px;min-height:79px;}
.para-20{margin-top:6.30pt;margin-bottom:-6.30pt;}
.font-29{font-size:26.25pt;line-height:44.10pt;}
.pos-59{margin-top:-14px;}
.size-58{min-width:640px;width:640px;min-height:315px;height:315px;}
.img-29{width:640px;height:315px;}
.img-30{width:640px;height:315px;}
.pos-60{margin-top:-177px;}
.size-59{min-width:960px;min-height:484px;}
.size-60{min-width:960px;min-height:484px;}
.size-61{min-width:959px;width:959px;min-height:484px;}
.size-62{min-width:480px;width:480px;min-height:484px;height:484px;}
.size-63{min-width:479px;width:479px;min-height:484px;height:484px;}
.pos-61{margin-top:-374px;}
.pos-62{margin-left:10px;}
.size-64{min-width:939px;width:939px;min-height:84px;}
.size-65{min-width:115px;width:115px;min-height:67px;}
.pos-63{margin-left:672px;margin-top:5px;}
.size-66{min-width:152px;width:152px;min-height:79px;}
.pos-64{margin-top:-10px;}
.size-67{min-width:797px;width:797px;min-height:300px;}
.size-68{min-width:455px;width:455px;min-height:300px;}
.para-21{margin-top:4.23pt;margin-bottom:-4.23pt;}
.font-30{font-size:35.25pt;line-height:50.76pt;}
.para-22{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-31{font-size:15.00pt;line-height:21.60pt;}
.font-32{font-size:15.00pt;line-height:21.60pt;}
.para-23{margin-top:4.14pt;margin-bottom:-4.14pt;}
.font-33{font-size:34.50pt;line-height:49.68pt;}
.para-24{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-34{font-size:15.00pt;line-height:21.60pt;}
.pos-65{margin-left:45px;margin-top:85px;}
.size-69{min-width:297px;width:297px;min-height:110px;}
.size-70{min-width:297px;width:297px;min-height:45px;}
.size-71{min-width:55px;width:55px;min-height:45px;height:45px;}
.img-31{left:5px;width:45px;height:45px;}
.img-32{left:5px;width:45px;height:45px;}
.pos-66{margin-left:2px;margin-top:2px;}
.size-72{min-width:240px;width:240px;min-height:42px;}
.para-25{margin-top:1.98pt;margin-bottom:-1.98pt;}
.font-35{font-size:16.50pt;line-height:23.76pt;}
.pos-67{margin-top:20px;}
.pos-68{margin-left:2px;margin-top:1px;}
}
@media (min-width:768px) and (max-width:959px) {
.size{min-width:768px;min-height:599px;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{min-width:768px;min-height:83px;}
.cont-2{border-radius:42px;}
.pos-2{margin-top:27px;}
.section{min-width:768px;width:768px;}
.pos-3{margin-left:489px;}
.size-3{min-width:256px;width:256px;min-height:30px;}
.size-4{min-width:99px;width:99px;min-height:30px;}
.size-5{width:95px;height:20px;}
.font{font-size:8.25pt;line-height:10.07pt;padding-top:6px;}
.button{border-radius:15px;}
.pos-6{margin-left:11px;}
.size-6{min-width:146px;width:146px;min-height:30px;}
.size-7{width:142px;height:20px;}
.pos-7{margin-top:-83px;}
.pos-8{margin-left:23px;}
.size-8{min-width:148px;width:148px;min-height:83px;height:83px;}
.img{left:15px;width:117px;height:83px;}
.img-2{left:15px;width:117px;height:83px;}
.pos-9{margin-left:-56px;margin-top:160px;}
.size-9{min-width:538px;width:538px;min-height:183px;}
.size-10{min-width:528px;width:528px;min-height:173px;}
.pos-10{margin-left:31px;margin-top:4px;}
.size-11{min-width:462px;width:462px;min-height:52px;}
.pos-11{margin-top:48px;}
.size-12{min-width:128px;width:128px;min-height:4px;height:4px;}
.pos-12{margin-left:15px;}
.size-13{min-width:179px;width:179px;min-height:41px;}
.para{margin-top:4.32pt;margin-bottom:-4.32pt;}
.font-2{font-size:18.00pt;line-height:30.24pt;}
.pos-13{margin-left:12px;margin-top:48px;}
.pos-14{margin-left:29px;margin-top:-155px;}
.size-14{min-width:480px;width:480px;min-height:146px;}
.size-15{min-width:480px;width:480px;min-height:144px;}
.para-2{margin-top:11.16pt;margin-bottom:-11.16pt;}
.font-3{font-size:46.50pt;line-height:78.12pt;}
.pos-15{margin-top:-142px;}
.para-3{margin-top:14.40pt;margin-bottom:-14.40pt;}
.font-4{font-size:60.00pt;line-height:100.80pt;}
.pos-16{margin-left:267px;margin-top:-42px;}
.size-16{min-width:234px;width:234px;min-height:80px;height:80px;}
.img-3{left:77px;width:80px;height:80px;}
.img-4{left:77px;width:80px;height:80px;}
.pos-17{margin-top:-41px;}
.size-17{min-width:768px;width:768px;min-height:256px;}
.size-18{min-width:256px;width:256px;min-height:256px;}
.pos-18{margin-left:14px;margin-top:22px;}
.size-19{min-width:227px;width:227px;min-height:147px;}
.size-20{min-width:227px;width:227px;min-height:43px;}
.font-5{font-size:18.00pt;line-height:30.24pt;}
.pos-19{margin-left:16px;}
.size-21{min-width:195px;width:195px;min-height:103px;}
.para-4{margin-top:2.90pt;margin-bottom:-2.90pt;}
.font-6{font-size:14.25pt;line-height:20.32pt;}
.font-7{font-size:14.25pt;line-height:20.32pt;}
.para-5{margin-top:2.44pt;margin-bottom:-2.44pt;}
.font-8{font-size:12.00pt;line-height:17.11pt;}
.pos-20{margin-left:12px;margin-top:23px;}
.size-22{min-width:234px;width:234px;min-height:47px;}
.size-23{min-width:113px;width:113px;min-height:47px;height:47px;}
.anchor{width:113px;}
.img-5{width:113px;height:43px;}
.img-6{width:113px;height:43px;}
.pos-21{margin-left:18px;margin-top:5px;}
.size-24{min-width:103px;width:103px;min-height:34px;height:34px;}
.anchor-2{width:103px;}
.img-7{left:1px;width:100px;height:34px;}
.img-8{left:1px;width:100px;height:34px;}
.size-25{min-width:512px;width:512px;min-height:255px;height:255px;}
.img-9{width:512px;height:255px;}
.img-10{width:512px;height:255px;}
.pos-22{margin-top:-1px;}
.pos-24{margin-left:14px;margin-top:23px;}
.size-26{min-width:227px;width:227px;min-height:219px;}
.size-27{min-width:227px;width:227px;min-height:64px;}
.para-6{margin-top:5.76pt;margin-bottom:-5.76pt;}
.font-9{font-size:24.00pt;line-height:40.32pt;}
.pos-25{margin-left:16px;}
.size-28{min-width:195px;width:195px;min-height:155px;}
.para-7{margin-top:1.26pt;margin-bottom:-1.26pt;}
.font-10{font-size:10.50pt;line-height:15.12pt;}
.pos-26{margin-top:-45px;}
.size-29{min-width:768px;min-height:374px;}
.pos-27{margin-top:107px;}
.pos-28{margin-left:131px;}
.size-30{min-width:496px;width:496px;min-height:130px;}
.pos-29{margin-left:8px;margin-top:18px;}
.size-31{min-width:480px;width:480px;min-height:95px;}
.para-8{margin-top:2.88pt;margin-bottom:-2.88pt;}
.font-11{font-size:24.00pt;line-height:34.56pt;}
.pos-30{margin-top:-46px;}
.size-32{min-width:768px;width:768px;min-height:103px;}
.size-33{min-width:768px;width:768px;min-height:95px;height:95px;}
.pos-31{margin-left:76px;margin-top:-87px;}
.size-34{min-width:620px;width:620px;min-height:95px;}
.para-9{margin-top:8.64pt;margin-bottom:-8.64pt;}
.font-12{font-size:36.00pt;line-height:60.48pt;}
.size-35{min-width:768px;width:768px;min-height:970px;}
.size-36{min-width:768px;width:768px;min-height:970px;}
.pos-33{margin-left:320px;}
.size-37{min-width:128px;width:128px;min-height:5px;height:5px;}
.pos-34{margin-top:2px;}
.size-38{min-width:768px;width:768px;min-height:963px;height:963px;}
.pos-35{margin-top:-965px;}
.size-39{min-width:768px;width:768px;min-height:964px;}
.para-10{margin-top:2.40pt;margin-bottom:-2.40pt;}
.font-13{font-size:12.00pt;line-height:16.80pt;}
.para-11{margin-top:2.10pt;margin-bottom:-2.10pt;}
.font-14{font-size:10.50pt;line-height:14.70pt;}
.pos-36{margin-top:0;}
.size-40{min-width:768px;min-height:1228px;}
.pos-38{margin-left:66px;}
.font-15{font-size:36.00pt;line-height:60.48pt;}
.pos-39{margin-left:312px;margin-top:17px;}
.pos-40{margin-left:44px;margin-top:16px;}
.size-41{min-width:682px;width:682px;min-height:32px;}
.para-12{margin-top:1.62pt;margin-bottom:-1.62pt;}
.font-16{font-size:13.50pt;line-height:19.44pt;}
.pos-41{margin-left:136px;margin-top:16px;}
.size-42{min-width:480px;width:480px;min-height:132px;}
.para-13{margin-top:6.84pt;margin-bottom:-6.84pt;}
.font-17{font-size:28.50pt;line-height:47.88pt;}
.font-18{font-size:14.25pt;line-height:19.95pt;}
.para-14{margin-top:1.65pt;margin-bottom:-1.65pt;}
.font-19{font-size:8.25pt;line-height:11.55pt;}
.para-15{margin-top:3.78pt;margin-bottom:-3.78pt;}
.font-20{font-size:15.75pt;line-height:26.46pt;}
.pos-42{margin-left:137px;margin-top:12px;}
.para-16{margin-top:2.10pt;margin-bottom:-2.10pt;}
.font-21{font-size:10.50pt;line-height:14.70pt;}
.para-17{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-22{font-size:9.00pt;line-height:12.60pt;}
.pos-43{margin-left:144px;margin-top:-136px;}
.size-43{min-width:191px;width:191px;min-height:79px;}
.size-44{min-width:73px;width:73px;min-height:79px;height:79px;}
.img-11{width:73px;height:73px;top:3px;}
.img-12{width:73px;height:73px;top:3px;}
.pos-44{margin-left:43px;}
.size-45{min-width:75px;width:75px;min-height:79px;height:79px;}
.img-13{width:75px;height:75px;top:2px;}
.img-14{width:75px;height:75px;top:2px;}
.pos-45{margin-left:136px;}
.pos-46{margin-left:190px;margin-top:-136px;}
.size-46{min-width:102px;width:102px;min-height:63px;height:63px;}
.img-15{left:19px;width:63px;height:63px;}
.img-16{left:19px;width:63px;height:63px;}
.pos-47{margin-left:136px;}
.pos-48{margin-left:172px;margin-top:-144px;}
.size-47{min-width:132px;width:132px;min-height:109px;height:109px;}
.img-17{width:132px;height:101px;top:4px;}
.img-18{width:132px;height:101px;top:4px;}
.pos-49{margin-left:201px;margin-top:-140px;}
.size-48{min-width:77px;width:77px;min-height:60px;height:60px;}
.img-19{left:8px;width:60px;height:60px;}
.img-20{left:8px;width:60px;height:60px;}
.pos-50{margin-left:203px;margin-top:-144px;}
.size-49{min-width:76px;width:76px;min-height:78px;height:78px;}
.img-21{width:76px;height:76px;top:1px;}
.img-22{width:76px;height:76px;top:1px;}
.pos-51{margin-left:196px;margin-top:-138px;}
.size-50{min-width:87px;width:87px;min-height:73px;height:73px;}
.img-23{left:7px;width:73px;height:73px;}
.img-24{left:7px;width:73px;height:73px;}
.pos-52{margin-top:1px;}
.size-51{min-width:768px;min-height:1734px;}
.pos-54{margin-left:82px;}
.pos-55{margin-top:-1620px;}
.size-52{min-width:768px;width:768px;min-height:1620px;}
.font-23{font-size:10.50pt;line-height:14.70pt;}
.font-24{font-size:10.50pt;line-height:14.70pt;}
.font-25{font-size:8.25pt;line-height:11.55pt;}
.para-18{margin-top:1.65pt;margin-bottom:-1.65pt;}
.para-19{margin-top:2.85pt;margin-bottom:-2.85pt;}
.font-26{font-size:10.50pt;color:rgb(255,255,255);line-height:14.70pt;}
.font-27{font-size:10.50pt;color:rgb(255,255,255);line-height:14.70pt;}
.font-28{font-size:10.50pt;line-height:14.70pt;}
.size-53{min-width:768px;width:768px;min-height:579px;}
.size-54{min-width:256px;width:256px;min-height:579px;height:579px;}
.img-25{width:256px;height:579px;}
.img-26{width:256px;height:579px;}
.size-55{min-width:512px;width:512px;min-height:579px;}
.size-56{min-width:512px;width:512px;min-height:327px;height:327px;}
.img-27{width:512px;height:327px;}
.img-28{width:512px;height:327px;}
.pos-58{margin-left:408px;margin-top:-60px;}
.size-57{min-width:95px;width:95px;min-height:64px;}
.para-20{margin-top:5.04pt;margin-bottom:-5.04pt;}
.font-29{font-size:21.00pt;line-height:35.28pt;}
.pos-59{margin-top:-4px;}
.size-58{min-width:512px;width:512px;min-height:252px;height:252px;}
.img-29{width:512px;height:252px;}
.img-30{width:512px;height:252px;}
.pos-60{margin-top:-142px;}
.size-59{min-width:768px;min-height:387px;}
.size-60{min-width:768px;min-height:387px;}
.size-61{min-width:767px;width:767px;min-height:387px;}
.size-62{min-width:384px;width:384px;min-height:387px;height:387px;}
.size-63{min-width:383px;width:383px;min-height:387px;height:387px;}
.pos-61{margin-top:-299px;}
.pos-62{margin-left:8px;}
.size-64{min-width:751px;width:751px;min-height:65px;}
.size-65{min-width:92px;width:92px;min-height:53px;}
.pos-63{margin-left:538px;margin-top:2px;}
.size-66{min-width:121px;width:121px;min-height:63px;}
.pos-64{margin-left:12px;margin-top:-17px;}
.size-67{min-width:625px;width:625px;min-height:252px;}
.size-68{min-width:364px;width:364px;min-height:252px;}
.para-21{margin-top:3.42pt;margin-bottom:-3.42pt;}
.font-30{font-size:28.50pt;line-height:41.04pt;}
.para-22{margin-top:1.62pt;margin-bottom:-1.62pt;}
.font-31{font-size:13.50pt;line-height:19.44pt;}
.font-32{font-size:12.00pt;line-height:17.28pt;}
.para-23{margin-top:3.33pt;margin-bottom:-3.33pt;}
.font-33{font-size:27.75pt;line-height:39.96pt;}
.pos-65{margin-left:24px;margin-top:79px;}
.size-69{min-width:237px;width:237px;min-height:88px;}
.size-70{min-width:237px;width:237px;min-height:36px;}
.size-71{min-width:44px;width:44px;min-height:36px;height:36px;}
.img-31{left:4px;width:36px;height:36px;}
.img-32{left:4px;width:36px;height:36px;}
.pos-66{margin-left:1px;margin-top:2px;}
.size-72{min-width:192px;width:192px;min-height:33px;}
.para-25{margin-top:1.62pt;margin-bottom:-1.62pt;}
.font-35{font-size:13.50pt;line-height:19.44pt;}
.pos-67{margin-top:16px;}
.pos-68{margin-left:1px;margin-top:1px;}
}
@media (min-width:480px) and (max-width:767px) {
.size{min-width:480px;min-height:374px;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{min-width:480px;min-height:52px;}
.cont-2{border-radius:26px;}
.pos-2{margin-top:16px;}
.section{min-width:480px;width:480px;}
.pos-3{margin-left:299px;}
.size-3{min-width:163px;width:163px;min-height:21px;}
.size-4{min-width:64px;width:64px;min-height:21px;}
.size-5{width:60px;height:13px;}
.font{font-size:5.25pt;line-height:6.41pt;padding-top:4px;}
.button{border-radius:11px;}
.pos-6{margin-left:7px;}
.size-6{min-width:92px;width:92px;min-height:21px;}
.size-7{width:88px;height:13px;}
.pos-7{margin-top:-52px;}
.pos-8{margin-left:15px;}
.size-8{min-width:93px;width:93px;min-height:52px;height:52px;}
.img{left:9px;width:73px;height:52px;}
.img-2{left:9px;width:73px;height:52px;}
.pos-9{margin-left:-38px;margin-top:98px;}
.size-9{min-width:340px;width:340px;min-height:118px;}
.size-10{min-width:330px;width:330px;min-height:108px;}
.pos-10{margin-left:19px;margin-top:3px;}
.size-11{min-width:289px;width:289px;min-height:32px;}
.pos-11{margin-top:30px;}
.size-12{min-width:80px;width:80px;min-height:2px;height:2px;}
.pos-12{margin-left:10px;}
.size-13{min-width:112px;width:112px;min-height:26px;}
.para{margin-top:2.70pt;margin-bottom:-2.70pt;}
.font-2{font-size:11.25pt;line-height:18.90pt;}
.pos-13{margin-left:7px;margin-top:30px;}
.pos-14{margin-left:20px;margin-top:-98px;}
.size-14{min-width:300px;width:300px;min-height:91px;}
.size-15{min-width:300px;width:300px;min-height:90px;}
.para-2{margin-top:7.02pt;margin-bottom:-7.02pt;}
.font-3{font-size:29.25pt;line-height:49.14pt;}
.pos-15{margin-top:-89px;}
.para-3{margin-top:9.00pt;margin-bottom:-9.00pt;}
.font-4{font-size:37.50pt;line-height:63.00pt;}
.pos-16{margin-left:167px;margin-top:-28px;}
.size-16{min-width:146px;width:146px;min-height:50px;height:50px;}
.img-3{left:48px;width:50px;height:50px;}
.img-4{left:48px;width:50px;height:50px;}
.pos-17{margin-top:-25px;}
.size-17{min-width:480px;width:480px;min-height:160px;}
.size-18{min-width:160px;width:160px;min-height:160px;}
.pos-18{margin-left:9px;margin-top:14px;}
.size-19{min-width:142px;width:142px;min-height:91px;}
.size-20{min-width:142px;width:142px;min-height:27px;}
.font-5{font-size:11.25pt;line-height:18.90pt;}
.pos-19{margin-left:10px;margin-top:0;}
.size-21{min-width:122px;width:122px;min-height:64px;}
.para-4{margin-top:1.83pt;margin-bottom:-1.83pt;}
.font-6{font-size:9.00pt;line-height:12.83pt;}
.font-7{font-size:9.00pt;line-height:12.83pt;}
.para-5{margin-top:1.53pt;margin-bottom:-1.53pt;}
.font-8{font-size:7.50pt;line-height:10.69pt;}
.pos-20{margin-left:7px;margin-top:15px;}
.size-22{min-width:146px;width:146px;min-height:29px;}
.size-23{min-width:71px;width:71px;min-height:29px;height:29px;}
.anchor{width:71px;}
.img-5{width:71px;height:27px;top:1px;}
.img-6{width:71px;height:27px;top:1px;}
.pos-21{margin-left:11px;margin-top:3px;}
.size-24{min-width:64px;width:64px;min-height:21px;height:21px;}
.anchor-2{width:64px;}
.img-7{left:1px;width:61px;height:21px;}
.img-8{left:1px;width:61px;height:21px;}
.size-25{min-width:320px;width:320px;min-height:159px;height:159px;}
.img-9{width:320px;height:159px;}
.img-10{width:320px;height:159px;}
.pos-22{margin-top:-1px;}
.pos-24{margin-left:9px;margin-top:14px;}
.size-26{min-width:142px;width:142px;min-height:137px;}
.size-27{min-width:142px;width:142px;min-height:40px;}
.para-6{margin-top:3.60pt;margin-bottom:-3.60pt;}
.font-9{font-size:15.00pt;line-height:25.20pt;}
.pos-25{margin-left:10px;}
.size-28{min-width:122px;width:122px;min-height:97px;}
.para-7{margin-top:0.81pt;margin-bottom:-0.81pt;}
.font-10{font-size:6.75pt;line-height:9.72pt;}
.pos-26{margin-top:-28px;}
.size-29{min-width:480px;min-height:234px;}
.pos-27{margin-top:65px;}
.pos-28{margin-left:80px;}
.size-30{min-width:310px;width:310px;min-height:81px;}
.pos-29{margin-left:5px;margin-top:11px;}
.size-31{min-width:300px;width:300px;min-height:59px;}
.para-8{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-11{font-size:15.00pt;line-height:21.60pt;}
.pos-30{margin-top:-29px;}
.size-32{min-width:480px;width:480px;min-height:64px;}
.size-33{min-width:480px;width:480px;min-height:59px;height:59px;}
.pos-31{margin-left:47px;margin-top:-54px;}
.size-34{min-width:387px;width:387px;min-height:59px;}
.para-9{margin-top:5.40pt;margin-bottom:-5.40pt;}
.font-12{font-size:22.50pt;line-height:37.80pt;}
.size-35{min-width:480px;width:480px;min-height:646px;}
.size-36{min-width:480px;width:480px;min-height:634px;}
.pos-33{margin-left:200px;}
.size-37{min-width:80px;width:80px;min-height:3px;height:3px;}
.pos-34{margin-top:2px;}
.size-38{min-width:480px;width:480px;min-height:629px;height:629px;}
.pos-35{margin-top:-629px;}
.size-39{min-width:480px;width:480px;min-height:641px;}
.para-10{margin-top:1.50pt;margin-bottom:-1.50pt;}
.font-13{font-size:7.50pt;line-height:10.50pt;}
.para-11{margin-top:1.35pt;margin-bottom:-1.35pt;}
.font-14{font-size:6.75pt;line-height:9.45pt;}
.pos-36{margin-top:-13px;}
.size-40{min-width:480px;min-height:768px;}
.pos-37{margin-top:1px;}
.pos-38{margin-left:41px;}
.font-15{font-size:22.50pt;line-height:37.80pt;}
.pos-39{margin-left:195px;margin-top:11px;}
.pos-40{margin-left:27px;margin-top:10px;}
.size-41{min-width:426px;width:426px;min-height:20px;}
.para-12{margin-top:0.99pt;margin-bottom:-0.99pt;}
.font-16{font-size:8.25pt;line-height:11.88pt;}
.pos-41{margin-left:85px;margin-top:10px;}
.size-42{min-width:300px;width:300px;min-height:82px;}
.para-13{margin-top:4.32pt;margin-bottom:-4.32pt;}
.font-17{font-size:18.00pt;line-height:30.24pt;}
.font-18{font-size:9.00pt;line-height:12.60pt;}
.para-14{margin-top:1.05pt;margin-bottom:-1.05pt;}
.font-19{font-size:5.25pt;line-height:7.35pt;}
.para-15{margin-top:2.34pt;margin-bottom:-2.34pt;}
.font-20{font-size:9.75pt;line-height:16.38pt;}
.pos-42{margin-left:86px;margin-top:8px;}
.para-16{margin-top:1.35pt;margin-bottom:-1.35pt;}
.font-21{font-size:6.75pt;line-height:9.45pt;}
.para-17{margin-top:1.20pt;margin-bottom:-1.20pt;}
.font-22{font-size:6.00pt;line-height:8.40pt;}
.pos-43{margin-left:90px;margin-top:-85px;}
.size-43{min-width:119px;width:119px;min-height:49px;}
.size-44{min-width:46px;width:46px;min-height:49px;height:49px;}
.img-11{width:46px;height:46px;top:2px;}
.img-12{width:46px;height:46px;top:2px;}
.pos-44{margin-left:26px;}
.size-45{min-width:47px;width:47px;min-height:49px;height:49px;}
.img-13{width:47px;height:47px;top:1px;}
.img-14{width:47px;height:47px;top:1px;}
.pos-45{margin-left:85px;}
.pos-46{margin-left:119px;margin-top:-85px;}
.size-46{min-width:64px;width:64px;min-height:39px;height:39px;}
.img-15{left:12px;width:39px;height:39px;}
.img-16{left:12px;width:39px;height:39px;}
.pos-47{margin-left:85px;}
.pos-48{margin-left:107px;margin-top:-90px;}
.size-47{min-width:82px;width:82px;min-height:68px;height:68px;}
.img-17{width:82px;height:62px;top:3px;}
.img-18{width:82px;height:62px;top:3px;}
.pos-49{margin-left:126px;margin-top:-88px;}
.size-48{min-width:48px;width:48px;min-height:37px;height:37px;}
.img-19{left:5px;width:37px;height:37px;}
.img-20{left:5px;width:37px;height:37px;}
.pos-50{margin-left:127px;margin-top:-90px;}
.size-49{min-width:47px;width:47px;min-height:49px;height:49px;}
.img-21{width:47px;height:47px;top:1px;}
.img-22{width:47px;height:47px;top:1px;}
.pos-51{margin-left:123px;margin-top:-86px;}
.size-50{min-width:54px;width:54px;min-height:46px;height:46px;}
.img-23{left:4px;width:46px;height:46px;}
.img-24{left:4px;width:46px;height:46px;}
.size-51{min-width:480px;min-height:1123px;}
.pos-53{margin-top:0;}
.pos-54{margin-left:51px;}
.pos-55{margin-top:-1052px;}
.size-52{min-width:480px;width:480px;min-height:1052px;}
.font-23{font-size:6.75pt;line-height:9.45pt;}
.font-24{font-size:6.75pt;line-height:9.45pt;}
.font-25{font-size:5.25pt;line-height:7.35pt;}
.para-18{margin-top:1.05pt;margin-bottom:-1.05pt;}
.para-19{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-26{font-size:6.75pt;color:rgb(255,255,255);line-height:9.45pt;}
.font-27{font-size:6.75pt;color:rgb(255,255,255);line-height:9.45pt;}
.font-28{font-size:6.75pt;line-height:9.45pt;}
.pos-56{margin-top:-24px;}
.size-53{min-width:480px;width:480px;min-height:344px;}
.size-54{min-width:160px;width:160px;min-height:344px;height:344px;}
.img-25{width:160px;height:344px;}
.img-26{width:160px;height:344px;}
.size-55{min-width:320px;width:320px;min-height:344px;}
.size-56{min-width:320px;width:320px;min-height:204px;height:204px;}
.img-27{width:320px;height:204px;}
.img-28{width:320px;height:204px;}
.pos-58{margin-left:253px;margin-top:-57px;}
.size-57{min-width:61px;width:61px;min-height:39px;}
.para-20{margin-top:3.24pt;margin-bottom:-3.24pt;}
.font-29{font-size:13.50pt;line-height:22.68pt;}
.pos-59{margin-top:-19px;}
.size-58{min-width:320px;width:320px;min-height:159px;height:159px;}
.img-29{width:320px;height:159px;}
.img-30{width:320px;height:159px;}
.pos-60{margin-top:-70px;}
.size-59{min-width:480px;min-height:251px;}
.size-60{min-width:480px;min-height:251px;}
.size-61{min-width:480px;width:480px;min-height:251px;}
.size-62{min-width:240px;width:240px;min-height:251px;height:251px;}
.size-63{min-width:240px;width:240px;min-height:251px;height:251px;}
.pos-61{margin-top:-212px;}
.pos-62{margin-left:7px;}
.size-64{min-width:468px;width:468px;min-height:40px;}
.size-65{min-width:58px;width:58px;min-height:33px;}
.pos-63{margin-left:330px;margin-top:0;}
.size-66{min-width:80px;width:80px;min-height:40px;}
.pos-64{margin-top:6px;}
.size-67{min-width:398px;width:398px;min-height:157px;}
.size-68{min-width:228px;width:228px;min-height:157px;}
.para-21{margin-top:2.16pt;margin-bottom:-2.16pt;}
.font-30{font-size:18.00pt;line-height:25.92pt;}
.para-22{margin-top:1.08pt;margin-bottom:-1.08pt;}
.font-31{font-size:9.00pt;line-height:12.96pt;}
.font-32{font-size:7.50pt;line-height:10.80pt;}
.para-23{margin-top:2.07pt;margin-bottom:-2.07pt;}
.font-33{font-size:17.25pt;line-height:24.84pt;}
.para-24{margin-top:1.08pt;margin-bottom:-1.08pt;}
.font-34{font-size:9.00pt;line-height:12.96pt;}
.pos-65{margin-left:22px;margin-top:49px;}
.size-69{min-width:148px;width:148px;min-height:54px;}
.size-70{min-width:148px;width:148px;min-height:22px;}
.size-71{min-width:27px;width:27px;min-height:22px;height:22px;}
.img-31{left:2px;width:22px;height:22px;}
.img-32{left:2px;width:22px;height:22px;}
.pos-66{margin-left:1px;margin-top:1px;}
.size-72{min-width:120px;width:120px;min-height:21px;}
.para-25{margin-top:0.99pt;margin-bottom:-0.99pt;}
.font-35{font-size:8.25pt;line-height:11.88pt;}
.pos-67{margin-top:10px;}
.pos-68{margin-left:1px;margin-top:1px;}
}
@media (max-width:479px) {
.size{min-width:320px;min-height:249px;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{min-width:320px;min-height:34px;}
.cont-2{border-radius:17px;}
.pos-2{margin-top:6px;}
.section{min-width:320px;width:320px;}
.pos-3{margin-left:180px;}
.size-3{min-width:127px;width:127px;min-height:23px;}
.size-4{min-width:47px;width:47px;min-height:23px;}
.size-5{width:43px;height:13px;}
.font{font-size:3.75pt;line-height:4.58pt;padding-top:6px;}
.button{border-radius:12px;}
.pos-6{margin-left:9px;}
.size-6{min-width:71px;width:71px;min-height:23px;}
.size-7{width:67px;height:13px;}
.pos-7{margin-top:-34px;}
.pos-8{margin-left:11px;}
.size-8{min-width:62px;width:62px;min-height:35px;height:35px;}
.img{left:6px;width:49px;height:35px;}
.img-2{left:6px;width:49px;height:35px;}
.pos-9{margin-left:-28px;margin-top:64px;}
.size-9{min-width:230px;width:230px;min-height:82px;}
.size-10{min-width:220px;width:220px;min-height:72px;}
.pos-10{margin-left:13px;margin-top:1px;}
.size-11{min-width:192px;width:192px;min-height:21px;}
.pos-11{margin-top:20px;}
.size-12{min-width:53px;width:53px;min-height:1px;height:1px;}
.pos-12{margin-left:1px;}
.size-13{min-width:84px;width:84px;min-height:17px;}
.para{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-2{font-size:7.50pt;line-height:12.60pt;}
.pos-13{margin-left:1px;margin-top:20px;}
.pos-14{margin-left:15px;margin-top:-68px;}
.size-14{min-width:200px;width:200px;min-height:61px;}
.size-15{min-width:200px;width:200px;min-height:60px;}
.para-2{margin-top:4.68pt;margin-bottom:-4.68pt;}
.font-3{font-size:19.50pt;line-height:32.76pt;}
.pos-15{margin-top:-59px;}
.para-3{margin-top:5.94pt;margin-bottom:-5.94pt;}
.font-4{font-size:24.75pt;line-height:41.58pt;}
.pos-16{margin-left:111px;margin-top:-21px;}
.size-16{min-width:97px;width:97px;min-height:33px;height:33px;}
.img-3{left:32px;width:33px;height:33px;}
.img-4{left:32px;width:33px;height:33px;}
.pos-17{margin-top:-17px;}
.size-17{min-width:319px;width:319px;min-height:106px;}
.size-18{min-width:106px;width:106px;min-height:106px;}
.pos-18{margin-left:6px;margin-top:10px;}
.size-19{min-width:94px;width:94px;min-height:61px;}
.size-20{min-width:94px;width:94px;min-height:18px;}
.font-5{font-size:7.50pt;line-height:12.60pt;}
.pos-19{margin-left:6px;margin-top:0;}
.size-21{min-width:81px;width:81px;min-height:43px;}
.para-4{margin-top:1.22pt;margin-bottom:-1.22pt;}
.font-6{font-size:6.00pt;line-height:8.56pt;}
.font-7{font-size:6.00pt;line-height:8.56pt;}
.para-5{margin-top:1.07pt;margin-bottom:-1.07pt;}
.font-8{font-size:5.25pt;line-height:7.49pt;}
.pos-20{margin-left:5px;margin-top:9px;}
.size-22{min-width:97px;width:97px;min-height:19px;}
.size-23{min-width:47px;width:47px;min-height:19px;height:19px;}
.anchor{width:47px;}
.img-5{width:47px;height:18px;top:0;}
.img-6{width:47px;height:18px;top:0;}
.pos-21{margin-left:7px;margin-top:2px;}
.size-24{min-width:43px;width:43px;min-height:14px;height:14px;}
.anchor-2{width:43px;}
.img-7{left:0;width:41px;height:14px;}
.img-8{left:0;width:41px;height:14px;}
.size-25{min-width:213px;width:213px;min-height:106px;height:106px;}
.img-9{width:213px;height:106px;}
.img-10{width:213px;height:106px;}
.pos-22{margin-top:-1px;}
.pos-23{margin-top:0;}
.pos-24{margin-left:6px;margin-top:9px;}
.size-26{min-width:94px;width:94px;min-height:91px;}
.size-27{min-width:94px;width:94px;min-height:26px;}
.para-6{margin-top:2.34pt;margin-bottom:-2.34pt;}
.font-9{font-size:9.75pt;line-height:16.38pt;}
.pos-25{margin-left:7px;margin-top:1px;}
.size-28{min-width:81px;width:81px;min-height:64px;}
.para-7{margin-top:0.54pt;margin-bottom:-0.54pt;}
.font-10{font-size:4.50pt;line-height:6.48pt;}
.pos-26{margin-top:-17px;}
.size-29{min-width:320px;min-height:156px;}
.pos-27{margin-top:42px;}
.pos-28{margin-left:51px;}
.size-30{min-width:206px;width:206px;min-height:54px;}
.pos-29{margin-left:4px;margin-top:8px;}
.size-31{min-width:200px;width:200px;min-height:39px;}
.para-8{margin-top:1.17pt;margin-bottom:-1.17pt;}
.font-11{font-size:9.75pt;line-height:14.04pt;}
.pos-30{margin-top:-19px;}
.size-32{min-width:320px;width:320px;min-height:42px;}
.size-33{min-width:320px;width:320px;min-height:39px;height:39px;}
.pos-31{margin-left:31px;margin-top:-36px;}
.size-34{min-width:258px;width:258px;min-height:39px;}
.para-9{margin-top:3.60pt;margin-bottom:-3.60pt;}
.font-12{font-size:15.00pt;line-height:25.20pt;}
.pos-32{margin-top:1px;}
.size-35{min-width:320px;width:320px;min-height:444px;}
.size-36{min-width:320px;width:320px;min-height:416px;}
.pos-33{margin-left:133px;}
.size-37{min-width:53px;width:53px;min-height:2px;height:2px;}
.pos-34{margin-top:1px;}
.size-38{min-width:320px;width:320px;min-height:413px;height:413px;}
.pos-35{margin-top:-414px;}
.size-39{min-width:320px;width:320px;min-height:442px;}
.para-10{margin-top:1.05pt;margin-bottom:-1.05pt;}
.font-13{font-size:5.25pt;line-height:7.35pt;}
.para-11{margin-top:0.90pt;margin-bottom:-0.90pt;}
.font-14{font-size:4.50pt;line-height:6.30pt;}
.pos-36{margin-top:-31px;}
.size-40{min-width:320px;min-height:512px;}
.pos-37{margin-top:1px;}
.pos-38{margin-left:27px;}
.font-15{font-size:15.00pt;line-height:25.20pt;}
.pos-39{margin-left:130px;margin-top:8px;}
.pos-40{margin-left:18px;margin-top:7px;}
.size-41{min-width:284px;width:284px;min-height:13px;}
.para-12{margin-top:0.63pt;margin-bottom:-0.63pt;}
.font-16{font-size:5.25pt;line-height:7.56pt;}
.pos-41{margin-left:56px;margin-top:7px;}
.size-42{min-width:200px;width:200px;min-height:55px;}
.para-13{margin-top:2.88pt;margin-bottom:-2.88pt;}
.font-17{font-size:12.00pt;line-height:20.16pt;}
.font-18{font-size:6.00pt;line-height:8.40pt;}
.para-14{margin-top:0.75pt;margin-bottom:-0.75pt;}
.font-19{font-size:3.75pt;line-height:5.25pt;}
.para-15{margin-top:1.62pt;margin-bottom:-1.62pt;}
.font-20{font-size:6.75pt;line-height:11.34pt;}
.pos-42{margin-left:57px;margin-top:4px;}
.para-16{margin-top:0.90pt;margin-bottom:-0.90pt;}
.font-21{font-size:4.50pt;line-height:6.30pt;}
.para-17{margin-top:0.75pt;margin-bottom:-0.75pt;}
.font-22{font-size:3.75pt;line-height:5.25pt;}
.pos-43{margin-left:60px;margin-top:-56px;}
.size-43{min-width:79px;width:79px;min-height:33px;}
.size-44{min-width:30px;width:30px;min-height:33px;height:33px;}
.img-11{width:30px;height:30px;top:2px;}
.img-12{width:30px;height:30px;top:2px;}
.pos-44{margin-left:18px;}
.size-45{min-width:31px;width:31px;min-height:33px;height:33px;}
.img-13{width:31px;height:31px;top:1px;}
.img-14{width:31px;height:31px;top:1px;}
.pos-45{margin-left:56px;}
.pos-46{margin-left:80px;margin-top:-56px;}
.size-46{min-width:42px;width:42px;min-height:26px;height:26px;}
.img-15{left:8px;width:26px;height:26px;}
.img-16{left:8px;width:26px;height:26px;}
.pos-47{margin-left:57px;}
.pos-48{margin-left:71px;margin-top:-60px;}
.size-47{min-width:55px;width:55px;min-height:45px;height:45px;}
.img-17{width:55px;height:42px;top:1px;}
.img-18{width:55px;height:42px;top:1px;}
.pos-49{margin-left:83px;margin-top:-58px;}
.size-48{min-width:32px;width:32px;min-height:25px;height:25px;}
.img-19{left:3px;width:25px;height:25px;}
.img-20{left:3px;width:25px;height:25px;}
.pos-50{margin-left:84px;margin-top:-60px;}
.size-49{min-width:31px;width:31px;min-height:32px;height:32px;}
.img-21{width:31px;height:31px;top:1px;}
.img-22{width:31px;height:31px;top:1px;}
.pos-51{margin-left:81px;margin-top:-57px;}
.size-50{min-width:36px;width:36px;min-height:30px;height:30px;}
.img-23{left:3px;width:30px;height:30px;}
.img-24{left:3px;width:30px;height:30px;}
.size-51{min-width:320px;min-height:760px;}
.pos-54{margin-left:34px;}
.pos-55{margin-top:-712px;}
.size-52{min-width:320px;width:320px;min-height:754px;}
.font-23{font-size:4.50pt;line-height:6.30pt;}
.font-24{font-size:4.50pt;line-height:6.30pt;}
.font-25{font-size:3.75pt;line-height:5.25pt;}
.para-18{margin-top:0.75pt;margin-bottom:-0.75pt;}
.para-19{margin-top:1.20pt;margin-bottom:-1.20pt;}
.font-26{font-size:4.50pt;color:rgb(255,255,255);line-height:6.30pt;}
.font-27{font-size:4.50pt;color:rgb(255,255,255);line-height:6.30pt;}
.font-28{font-size:4.50pt;line-height:6.30pt;}
.pos-56{margin-top:-42px;}
.size-53{min-width:320px;width:320px;min-height:229px;}
.size-54{min-width:107px;width:107px;min-height:229px;height:229px;}
.img-25{width:107px;height:229px;}
.img-26{width:107px;height:229px;}
.pos-57{margin-left:106px;margin-top:-229px;}
.size-55{min-width:214px;width:214px;min-height:229px;}
.size-56{min-width:213px;width:213px;min-height:136px;height:136px;}
.img-27{width:213px;height:136px;}
.img-28{width:213px;height:136px;}
.pos-58{margin-left:167px;margin-top:-32px;}
.size-57{min-width:43px;width:43px;min-height:27px;}
.para-20{margin-top:2.16pt;margin-bottom:-2.16pt;}
.font-29{font-size:9.00pt;line-height:15.12pt;}
.pos-59{margin-left:1px;margin-top:-12px;}
.size-58{min-width:213px;width:213px;min-height:105px;height:105px;}
.img-29{width:213px;height:105px;}
.img-30{width:213px;height:105px;}
.pos-60{margin-top:-46px;}
.size-59{min-width:320px;min-height:161px;}
.size-60{min-width:320px;min-height:161px;}
.size-61{min-width:319px;width:319px;min-height:161px;}
.size-62{min-width:160px;width:160px;min-height:161px;height:161px;}
.size-63{min-width:159px;width:159px;min-height:161px;height:161px;}
.pos-61{margin-top:-137px;}
.pos-62{margin-left:8px;}
.size-64{min-width:308px;width:308px;min-height:28px;}
.size-65{min-width:39px;width:39px;min-height:22px;}
.pos-63{margin-left:213px;margin-top:2px;}
.size-66{min-width:56px;width:56px;min-height:26px;}
.pos-64{margin-left:4px;margin-top:9px;}
.size-67{min-width:261px;width:261px;min-height:100px;}
.size-68{min-width:152px;width:152px;min-height:100px;}
.para-21{margin-top:1.44pt;margin-bottom:-1.44pt;}
.font-30{font-size:12.00pt;line-height:17.28pt;}
.para-22{margin-top:0.63pt;margin-bottom:-0.63pt;}
.font-31{font-size:5.25pt;line-height:7.56pt;}
.font-32{font-size:5.25pt;line-height:7.56pt;}
.para-23{margin-top:1.35pt;margin-bottom:-1.35pt;}
.font-33{font-size:11.25pt;line-height:16.20pt;}
.para-24{margin-top:0.81pt;margin-bottom:-0.81pt;}
.font-34{font-size:6.75pt;line-height:9.72pt;}
.pos-65{margin-left:10px;margin-top:28px;}
.size-69{min-width:99px;width:99px;min-height:37px;}
.size-70{min-width:99px;width:99px;min-height:15px;}
.size-71{min-width:18px;width:18px;min-height:15px;height:15px;}
.img-31{left:1px;width:15px;height:15px;}
.img-32{left:1px;width:15px;height:15px;}
.pos-66{margin-left:1px;margin-top:1px;}
.size-72{min-width:80px;width:80px;min-height:14px;}
.para-25{margin-top:0.63pt;margin-bottom:-0.63pt;}
.font-35{font-size:5.25pt;line-height:7.56pt;}
.pos-67{margin-top:7px;}
.pos-68{margin-left:1px;margin-top:0;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-640.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-640.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-640.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-640-1.jpg);background-size:cover;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.cont{background-image:url(../images/bokeh-960.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-960.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-960.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-960-3.jpg);background-size:cover;}
}
@media (min-width:480px) {
.cont{background-image:url(../images/bokeh-480.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-480.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-480.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-480-1.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-960-1.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-960-1.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-960-1.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-960-4.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:3),(min-width:480px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/bokeh-1440.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-1440.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1440.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1440-1.jpg);background-size:cover;}
}
@media (min-width:768px) {
.cont{background-image:url(../images/bokeh-768.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-768.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-768.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-768-1.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-1536.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-1536.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1536.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1536-1.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:3),(min-width:768px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/bokeh-2304.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-2304.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-2304-1.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont{background-image:url(../images/bokeh-960-2.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-960-2.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-960-2.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-960-5.jpg);background-size:cover;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-1920.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1920.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1920-1.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/bokeh-1200-2.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-1200-2.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1200-3.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1200-4.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-2400-2.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-2400-3.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-2400-4.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/bokeh-1600-2.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-1600-2.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1600-3.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1600-4.jpg);background-size:cover;}
}
