html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
#body{background-color:rgb(246,244,241);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:698px;}
.cont{z-index:8;border:0;border-radius:52px;background:transparent url(../images/bokeh-960-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{width:100%;min-width:960px;min-height:104px;}
.cont-2{z-index:9;border:0;border-radius:52px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(246,244,241)), color-stop(1, rgb(255,161,51)));background-image:-o-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-webkit-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-ms-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:linear-gradient(to right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-clip:padding-box;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;display:block;}
.pos-2{position:relative;margin-left:27px;margin-top:0;}
.size-3{min-width:910px;width:910px;min-height:104px;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-4{min-width:185px;width:185px;min-height:104px;height:104px;}
.cont-4{z-index:54;}
.anchor{display:block;width:185px;}
.img{position:absolute;left:18px;width:147px;height:104px;top:0;border:0;}
.img-2{left:18px;width:147px;height:104px;top:0;}
.pos-4{position:relative;margin-left:403px;margin-top:34px;}
.size-5{min-width:123px;width:123px;min-height:37px;}
.cont-5{z-index:55;}
.vis-2{display:inline-block;overflow:hidden;outline:0;}
.size-6{width:119px;height:26px;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:10.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:12.82pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:7px;margin-top:0;margin-bottom:0;}
.button{border:2px solid rgba(217,188,12,0.599609);border-radius:19px;background-color:rgb(41,41,41);}
.button:hover{background-color:rgba(112,64,28,0.3);border-color:rgba(217,188,12,0.599609);color:rgba(217,188,12,0.599609);}
.button:active{background-color:rgba(112,64,28,0.3);border-color:rgba(217,188,12,0.599609);color:rgb(246,244,241);}
.pos-6{position:relative;margin-left:18px;margin-top:34px;}
.size-7{min-width:181px;width:181px;min-height:37px;}
.cont-6{z-index:56;}
.size-8{width:177px;height:26px;}
.pos-7{position:relative;margin-top:24px;}
.pos-8{position:relative;margin-left:741px;margin-top:0;}
.size-9{min-width:211px;width:211px;min-height:43px;}
.cont-7{z-index:10;}
.size-10{width:201px;height:26px;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:10.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:12.82pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:7px;margin-top:0;margin-bottom:0;}
.button-2{border:5px solid rgb(243,189,12);border-radius:22px;background-color:rgb(255,255,255);}
.button-2:hover{background-color:rgba(112,64,28,0.3);border-color:rgba(217,188,12,0.599609);color:rgba(217,188,12,0.599609);}
.button-2:active{background-color:rgba(112,64,28,0.3);border-color:rgba(217,188,12,0.599609);color:rgb(246,244,241);}
.pos-9{position:relative;margin-left:145px;margin-top:31px;}
.size-11{min-width:670px;width:670px;min-height:227px;}
.colwrapper{line-height:0;}
.size-12{min-width:660px;width:660px;min-height:217px;}
.cont-8{z-index:11;border:5px solid rgb(246,244,241);background:transparent url(../images/furgonicino2-960-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-10{position:relative;margin-left:39px;margin-top:5px;}
.size-13{min-width:578px;width:578px;min-height:65px;}
.pos-11{position:relative;margin-left:0;margin-top:60px;}
.size-14{min-width:160px;width:160px;min-height:5px;height:5px;}
.cont-9{z-index:12;border:0;background-color:rgba(255,255,255,0.5);}
.pos-12{position:relative;margin-left:19px;margin-top:0;}
.size-15{min-width:224px;width:224px;min-height:52px;}
.cont-10{z-index:13;}
.para{padding-top:0;text-indent:0;margin-top:5.40pt;margin-bottom:-5.40pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-3{font-family:Lato;font-size:22.50pt;font-weight:300;font-style:italic;text-decoration:none;color:rgb(70,36,12);line-height:37.80pt;letter-spacing:normal;}
.pos-13{position:relative;margin-left:15px;margin-top:60px;}
.cont-11{z-index:14;border:0;background-color:rgba(255,255,255,0.5);}
.pos-14{position:relative;margin-left:36px;margin-top:-193px;}
.size-16{min-width:600px;width:600px;min-height:182px;}
.size-17{min-width:600px;width:600px;min-height:180px;}
.cont-12{z-index:50;}
.para-2{padding-top:0;text-indent:0;margin-top:14.04pt;margin-bottom:-14.04pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-4{font-family:Lato;font-size:58.50pt;font-weight:900;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:98.28pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:0;margin-top:-178px;}
.cont-13{z-index:37;}
.para-3{padding-top:0;text-indent:0;margin-top:18.00pt;margin-bottom:-18.00pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-5{font-family:Lato;font-size:75.00pt;font-weight:900;font-style:normal;text-decoration:none;color:rgba(112,64,28,0.3);line-height:126.00pt;letter-spacing:normal;}
.pos-16{position:relative;margin-left:334px;margin-top:-52px;}
.size-18{min-width:293px;width:293px;min-height:100px;height:100px;}
.cont-14{z-index:15;}
.img-3{position:absolute;left:96px;width:100px;height:100px;top:0;border:0;}
.img-4{left:96px;width:100px;height:100px;top:0;}
.pos-17{position:relative;margin-left:132px;margin-top:-41px;}
.size-19{min-width:828px;width:828px;min-height:216px;}
.pos-18{position:relative;margin-left:0;margin-top:38px;}
.size-20{min-width:420px;width:420px;min-height:129px;}
.pos-19{position:relative;margin-left:1px;margin-top:0;}
.size-21{min-width:419px;width:419px;min-height:129px;}
.cont-15{z-index:77;}
.para-4{padding-top:0;text-indent:0;margin-top:12.06pt;margin-bottom:-12.06pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-6{font-family:"Dancing Script";font-size:50.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(243,189,12);line-height:84.42pt;letter-spacing:normal;}
.pos-20{position:relative;margin-left:0;margin-top:-87px;}
.size-22{min-width:418px;width:418px;min-height:74px;height:74px;}
.cont-16{z-index:16;border:0;border-radius:19px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(70,36,12)));background-image:-o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(70,36,12) 100%);background-image:-webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(70,36,12) 100%);background-image:-ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(70,36,12) 100%);background-image:linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(70,36,12) 100%);background-clip:padding-box;}
.pos-21{position:relative;margin-left:33px;margin-top:0;}
.size-23{min-width:375px;width:375px;min-height:216px;}
.cont-17{z-index:32;border:0;border-radius:51px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(70,36,12)), color-stop(1, rgb(41,41,41)));background-image:-o-linear-gradient(bottom, rgb(70,36,12) 0%, rgb(41,41,41) 100%);background-image:-webkit-linear-gradient(bottom, rgb(70,36,12) 0%, rgb(41,41,41) 100%);background-image:-ms-linear-gradient(bottom, rgb(70,36,12) 0%, rgb(41,41,41) 100%);background-image:linear-gradient(to bottom, rgb(70,36,12) 0%, rgb(41,41,41) 100%);background-clip:padding-box;}
.size-24{min-width:375px;width:375px;min-height:200px;}
.cont-18{z-index:74;}
.para-5{padding-top:0;text-indent:0;margin-top:3.52pt;margin-bottom:-3.52pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-7{font-family:"EB Garamond";font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:24.66pt;letter-spacing:normal;}
.pos-22{position:relative;margin-left:720px;margin-top:5px;}
.size-25{min-width:105px;width:105px;min-height:31px;}
.cont-19{z-index:17;}
.size-26{width:105px;height:23px;}
.font-8{font-family:"Helvetica Neue", sans-serif;font-size:9.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:10.99pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:8px;margin-top:0;margin-bottom:0;}
.button-3{border:0;border-radius:16px;background-color:rgb(255,161,51);}
.button-3:hover{background-color:rgb(20,156,179);border-color:rgb(41,41,41);color:rgb(41,41,41);}
.button-3:active{background-color:rgb(20,156,179);border-color:rgb(41,41,41);color:rgb(246,244,241);}
.pos-23{position:relative;margin-top:-95px;}
.size-27{width:100%;min-width:960px;min-height:1145px;}
.cont-20{z-index:1;border:0;border-radius:52px;background:rgb(20,156,179) url(../images/strada-960-2.jpg) no-repeat 50% 0;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-24{position:relative;margin-top:95px;}
.size-28{min-width:960px;width:960px;min-height:320px;}
.size-29{min-width:320px;width:320px;min-height:320px;}
.cont-21{z-index:19;border:0;background-color:rgb(255,255,255);}
.pos-25{position:relative;margin-left:18px;margin-top:28px;}
.size-30{min-width:284px;width:284px;min-height:183px;}
.cont-22{z-index:21;}
.size-31{min-width:284px;width:284px;min-height:54px;}
.font-9{font-family:"Dancing Script";font-size:22.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:37.80pt;letter-spacing:normal;}
.pos-26{position:relative;margin-left:20px;margin-top:0;}
.size-32{min-width:244px;width:244px;min-height:129px;}
.para-6{padding-top:0;text-indent:0;margin-top:3.67pt;margin-bottom:-3.67pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-10{font-family:Jura;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:25.67pt;letter-spacing:3.50px;}
.font-11{font-family:Jura;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:25.67pt;letter-spacing:normal;}
.para-7{padding-top:0;text-indent:0;margin-top:3.06pt;margin-bottom:-3.06pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-12{font-family:Jura;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:21.39pt;letter-spacing:normal;}
.pos-27{position:relative;margin-left:15px;margin-top:29px;}
.size-33{min-width:293px;width:293px;min-height:59px;}
.size-34{min-width:142px;width:142px;min-height:59px;height:59px;}
.cont-23{z-index:22;}
.anchor-2{display:block;width:142px;}
.img-5{position:absolute;left:0;width:142px;height:54px;top:2px;border:0;}
.img-6{left:0;width:142px;height:54px;top:2px;}
.pos-28{position:relative;margin-left:22px;margin-top:6px;}
.size-35{min-width:129px;width:129px;min-height:43px;height:43px;}
.cont-24{z-index:23;}
.anchor-3{display:block;width:129px;}
.img-7{position:absolute;left:1px;width:126px;height:43px;top:0;border:0;}
.img-8{left:1px;width:126px;height:43px;top:0;}
.size-36{min-width:640px;width:640px;min-height:319px;height:319px;}
.cont-25{z-index:20;}
.img-9{position:absolute;left:0;width:640px;height:319px;top:0;border:0;}
.img-10{left:0;width:640px;height:319px;top:0;}
.pos-29{position:relative;margin-left:0;margin-top:-2px;}
.pos-30{position:relative;margin-left:0;margin-top:1px;}
.cont-26{z-index:24;}
.cont-27{z-index:18;border:0;border-radius:4px;background-color:rgb(255,255,255);}
.size-37{min-width:284px;width:284px;min-height:274px;}
.cont-28{z-index:25;}
.size-38{min-width:284px;width:284px;min-height:80px;}
.para-8{padding-top:0;text-indent:0;margin-top:7.20pt;margin-bottom:-7.20pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-13{font-family:"Dancing Script";font-size:30.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:50.40pt;letter-spacing:normal;}
.size-39{min-width:244px;width:244px;min-height:194px;}
.para-9{padding-top:0;text-indent:0;margin-top:1.62pt;margin-bottom:-1.62pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-14{font-family:Lato;font-size:13.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:19.44pt;letter-spacing:normal;}
.pos-31{position:relative;margin-left:165px;margin-top:80px;}
.size-40{min-width:620px;width:620px;min-height:163px;}
.cont-29{z-index:26;border:5px solid rgb(246,244,241);background:transparent url(../images/strada-960-5.jpg) no-repeat 50% 0;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-32{position:relative;margin-left:11px;margin-top:22px;}
.size-41{min-width:600px;width:600px;min-height:119px;}
.cont-30{z-index:28;}
.para-10{padding-top:0;text-indent:0;margin-top:3.60pt;margin-bottom:-3.60pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-15{font-family:Lato;font-size:30.00pt;font-weight:300;font-style:italic;text-decoration:none;color:rgb(246,244,241);line-height:43.20pt;letter-spacing:normal;}
.pos-33{position:relative;margin-top:-58px;}
.size-42{min-width:960px;width:960px;min-height:129px;}
.size-43{min-width:960px;width:960px;min-height:119px;height:119px;}
.cont-31{z-index:29;border:0;border-radius:60px;background-color:rgb(246,244,241);}
.pos-34{position:relative;margin-left:95px;margin-top:-109px;}
.size-44{min-width:775px;width:775px;min-height:119px;}
.cont-32{z-index:30;}
.para-11{padding-top:0;text-indent:0;margin-top:10.80pt;margin-bottom:-10.80pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-16{font-family:"Dancing Script";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:75.60pt;letter-spacing:normal;}
.size-45{min-width:960px;width:960px;min-height:1271px;}
.pos-35{position:relative;margin-left:401px;margin-top:0;}
.size-46{min-width:160px;width:160px;min-height:7px;height:7px;}
.cont-33{border:0;background-color:rgb(223,223,223);}
.size-47{min-width:960px;width:960px;min-height:1264px;}
.cont-34{z-index:7;border:0;background-color:rgb(255,255,255);}
.size-48{min-width:960px;width:960px;min-height:1240px;}
.cont-35{z-index:33;}
.para-12{padding-top:0;text-indent:0;margin-top:3.00pt;margin-bottom:-3.00pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-17{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:21.00pt;letter-spacing:normal;}
.para-13{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-18{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:18.90pt;letter-spacing:normal;}
.size-49{width:100%;min-width:960px;min-height:1665px;}
.cont-36{z-index:31;border:0;border-radius:52px;background-color:rgb(20,156,179);}
.pos-36{position:relative;margin-top:2px;}
.pos-37{position:relative;margin-left:83px;margin-top:0;}
.cont-37{z-index:35;}
.font-19{font-family:"Dancing Script";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:75.60pt;letter-spacing:normal;}
.pos-38{position:relative;margin-left:390px;margin-top:21px;}
.cont-38{z-index:36;border:0;background-color:rgb(246,244,241);}
.pos-39{position:relative;margin-left:55px;margin-top:20px;}
.size-50{min-width:853px;width:853px;min-height:40px;}
.cont-39{z-index:40;}
.para-14{padding-top:0;text-indent:0;margin-top:1.98pt;margin-bottom:-1.98pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-20{font-family:Lato;font-size:16.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:23.76pt;letter-spacing:normal;}
.pos-40{position:relative;margin-left:170px;margin-top:20px;}
.size-51{min-width:600px;width:600px;min-height:165px;}
.cont-40{z-index:43;}
.para-15{padding-top:0;text-indent:0;margin-top:8.64pt;margin-bottom:-8.64pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-21{font-family:"Dancing Script";font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:60.48pt;letter-spacing:normal;}
.font-22{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:25.20pt;letter-spacing:normal;}
.para-16{padding-top:0;text-indent:0;margin-top:2.10pt;margin-bottom:-2.10pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-23{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:10.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgba(217,188,12,0.599609);line-height:14.70pt;letter-spacing:normal;}
.para-17{padding-top:0;text-indent:0;margin-top:4.68pt;margin-bottom:-4.68pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-24{font-family:Lato;font-size:19.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:32.76pt;letter-spacing:normal;}
.pos-41{position:relative;margin-left:172px;margin-top:14px;}
.cont-41{z-index:70;}
.para-18{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-25{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:18.90pt;letter-spacing:normal;}
.para-19{padding-top:0;text-indent:0;margin-top:2.25pt;margin-bottom:-2.25pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-26{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:15.75pt;letter-spacing:normal;}
.pos-42{position:relative;margin-left:180px;margin-top:-169px;}
.size-52{min-width:239px;width:239px;min-height:99px;}
.size-53{min-width:92px;width:92px;min-height:99px;height:99px;}
.cont-42{z-index:46;}
.img-11{position:absolute;left:0;width:92px;height:92px;top:4px;border:0;}
.img-12{left:0;width:92px;height:92px;top:4px;}
.pos-43{position:relative;margin-left:53px;margin-top:0;}
.size-54{min-width:94px;width:94px;min-height:99px;height:99px;}
.cont-43{z-index:49;}
.img-13{position:absolute;left:0;width:94px;height:94px;top:3px;border:0;}
.img-14{left:0;width:94px;height:94px;top:3px;}
.pos-44{position:relative;margin-left:170px;margin-top:0;}
.cont-44{z-index:67;}
.pos-45{position:relative;margin-left:238px;margin-top:-169px;}
.size-55{min-width:128px;width:128px;min-height:79px;height:79px;}
.cont-45{z-index:51;}
.img-15{position:absolute;left:24px;width:79px;height:79px;top:0;border:0;}
.img-16{left:24px;width:79px;height:79px;top:0;}
.pos-46{position:relative;margin-left:171px;margin-top:0;}
.cont-46{z-index:52;}
.pos-47{position:relative;margin-left:214px;margin-top:-180px;}
.size-56{min-width:165px;width:165px;min-height:137px;height:137px;}
.cont-47{z-index:65;}
.img-17{position:absolute;left:0;width:165px;height:126px;top:5px;border:0;}
.img-18{left:0;width:165px;height:126px;top:5px;}
.cont-48{z-index:53;}
.pos-48{position:relative;margin-left:251px;margin-top:-175px;}
.size-57{min-width:97px;width:97px;min-height:75px;height:75px;}
.cont-49{z-index:63;}
.img-19{position:absolute;left:11px;width:75px;height:75px;top:0;border:0;}
.img-20{left:11px;width:75px;height:75px;top:0;}
.cont-50{z-index:57;}
.pos-49{position:relative;margin-left:253px;margin-top:-180px;}
.size-58{min-width:95px;width:95px;min-height:98px;height:98px;}
.cont-51{z-index:61;}
.img-21{position:absolute;left:0;width:95px;height:95px;top:2px;border:0;}
.img-22{left:0;width:95px;height:95px;top:2px;}
.cont-52{z-index:59;}
.pos-50{position:relative;margin-left:245px;margin-top:-172px;}
.size-59{min-width:109px;width:109px;min-height:92px;height:92px;}
.cont-53{z-index:58;}
.img-23{position:absolute;left:8px;width:92px;height:92px;top:0;border:0;}
.img-24{left:8px;width:92px;height:92px;top:0;}
.pos-51{position:relative;margin-top:-129px;}
.size-60{width:100%;min-width:960px;min-height:3072px;}
.cont-54{z-index:60;border:0;border-radius:52px;background-color:rgb(58,199,189);}
.pos-52{position:relative;margin-top:1px;}
.pos-53{position:relative;margin-left:103px;margin-top:0;}
.cont-55{z-index:62;}
.pos-54{position:relative;margin-left:0;margin-top:23px;}
.size-61{min-width:960px;width:960px;min-height:2188px;}
.cont-56{z-index:64;}
.font-27{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:18.90pt;letter-spacing:normal;}
.font-28{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:10.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:14.70pt;letter-spacing:normal;}
.para-20{padding-top:0;text-indent:0;margin-top:2.10pt;margin-bottom:-2.10pt;padding-right:0;text-align:left;word-wrap:break-word;}
.para-21{padding-top:0;text-indent:0;margin-top:3.60pt;margin-bottom:-3.60pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-29{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:18.90pt;letter-spacing:normal;}
.size-62{min-width:960px;width:960px;min-height:724px;}
.size-63{min-width:320px;width:320px;min-height:724px;}
.size-64{min-width:320px;width:320px;min-height:724px;height:724px;}
.cont-57{z-index:66;}
.img-25{position:absolute;left:0;width:320px;height:724px;top:0;border-radius:10px 0 0 10px;border:0;}
.img-26{left:0;width:320px;height:724px;top:0;}
.pos-55{position:relative;margin-left:10px;margin-top:-67px;}
.size-65{min-width:115px;width:115px;min-height:67px;}
.cont-58{z-index:72;}
.para-22{padding-top:0;text-indent:0;margin-top:6.30pt;margin-bottom:-6.30pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-30{font-family:Lato;font-size:26.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:44.10pt;letter-spacing:normal;}
.size-66{min-width:640px;width:640px;min-height:724px;}
.size-67{min-width:640px;width:640px;min-height:409px;height:409px;}
.cont-59{z-index:68;}
.img-27{position:absolute;left:0;width:640px;height:409px;top:0;border-radius:0 10px 0 0;border:0;}
.img-28{left:0;width:640px;height:409px;top:0;}
.pos-56{position:relative;margin-left:518px;margin-top:-65px;}
.size-68{min-width:111px;width:111px;min-height:79px;}
.cont-60{z-index:69;}
.pos-57{position:relative;margin-left:0;margin-top:-14px;}
.size-69{min-width:640px;width:640px;min-height:315px;height:315px;}
.cont-61{z-index:71;}
.img-29{position:absolute;left:0;width:640px;height:315px;top:0;border-radius:0 0 10px 0;border:0;}
.img-30{left:0;width:640px;height:315px;top:0;}
.pos-58{position:relative;margin-left:797px;margin-top:-62px;}
.size-70{min-width:152px;width:152px;min-height:79px;}
.cont-62{z-index:73;}
.pos-59{position:relative;margin-top:-194px;}
.size-71{width:100%;min-width:960px;min-height:686px;}
.cont-63{z-index:34;}
.size-72{width:100%;min-width:960px;min-height:686px;}
.cont-64{z-index:2;border:0;border-radius:52px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(255,161,51)), color-stop(1, rgb(243,189,12)));background-image:-o-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:-webkit-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:-ms-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:linear-gradient(to left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-clip:padding-box;}
.size-73{min-width:960px;width:960px;min-height:686px;}
.size-74{min-width:480px;width:480px;min-height:686px;height:686px;}
.cont-65{z-index:3;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(243,189,12,0)), color-stop(1, rgb(243,189,12)));background-image:-o-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:-webkit-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:-ms-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:linear-gradient(to right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-clip:padding-box;}
.size-75{min-width:479px;width:479px;min-height:686px;height:686px;}
.cont-66{z-index:4;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(255,161,51)), color-stop(1, rgba(255,161,51,0)));background-image:-o-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:-webkit-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:-ms-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:linear-gradient(to right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-clip:padding-box;}
.pos-60{position:relative;margin-top:-80px;}
.size-76{width:100%;min-width:960px;min-height:80px;}
.cont-67{z-index:5;border:0;border-radius:40px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(243,189,12)), color-stop(1, rgb(209,72,103)));background-image:-o-linear-gradient(bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-image:-webkit-linear-gradient(bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-image:-ms-linear-gradient(bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-image:linear-gradient(to bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-clip:padding-box;}
.pos-61{position:relative;margin-top:20px;}
.pos-62{position:relative;margin-left:65px;margin-top:0;}
.size-77{min-width:600px;width:600px;min-height:37px;}
.cont-68{z-index:6;}
.para-23{padding-top:0;text-indent:0;margin-top:5.87pt;margin-bottom:-5.87pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-31{font-family:"EB Garamond";font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:26.43pt;letter-spacing:normal;}
.pos-63{position:relative;margin-top:-502px;}
.size-78{min-width:941px;width:941px;min-height:422px;}
.size-79{min-width:455px;width:455px;min-height:422px;}
.cont-69{z-index:75;}
.para-24{padding-top:0;text-indent:0;margin-top:4.23pt;margin-bottom:-4.23pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-32{font-family:Lato;font-size:35.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:50.76pt;letter-spacing:normal;}
.para-25{padding-top:0;text-indent:0;margin-top:1.80pt;margin-bottom:-1.80pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-33{font-family:Lato;font-size:15.00pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:21.60pt;letter-spacing:normal;}
.para-26{padding-top:0;text-indent:0;margin-top:4.14pt;margin-bottom:-4.14pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-34{font-family:Lato;font-size:34.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:49.68pt;letter-spacing:normal;}
.font-35{font-family:Lato;font-size:15.00pt;font-weight:300;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:21.60pt;letter-spacing:normal;}
.pos-64{position:relative;margin-left:24px;margin-top:142px;}
.size-80{min-width:176px;width:176px;min-height:147px;}
.size-81{min-width:98px;width:98px;min-height:71px;height:71px;}
.cont-70{z-index:80;}
.img-31{position:absolute;left:13px;width:71px;height:71px;top:0;border:0;}
.img-32{left:13px;width:71px;height:71px;top:0;}
.pos-65{position:relative;margin-left:3px;margin-top:-20px;}
.size-82{min-width:173px;width:173px;min-height:96px;}
.cont-71{z-index:79;}
.pos-66{position:relative;margin-left:500px;margin-top:-397px;}
.size-83{min-width:297px;width:297px;min-height:110px;}
.size-84{min-width:297px;width:297px;min-height:45px;}
.cont-72{z-index:76;}
.size-85{min-width:55px;width:55px;min-height:45px;height:45px;}
.img-33{position:absolute;left:5px;width:45px;height:45px;top:0;border:0;}
.img-34{left:5px;width:45px;height:45px;top:0;}
.pos-67{position:relative;margin-left:2px;margin-top:2px;}
.size-86{min-width:240px;width:240px;min-height:42px;}
.para-27{padding-top:0;text-indent:0;margin-top:1.98pt;margin-bottom:-1.98pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-36{font-family:Lato;font-size:16.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:23.76pt;letter-spacing:normal;}
.pos-68{position:relative;margin-left:0;margin-top:20px;}
.cont-73{z-index:78;}
.pos-69{position:relative;margin-left:2px;margin-top:1px;}
.pos-70{position:relative;margin-left:560px;margin-top:-287px;}
.size-87{min-width:381px;width:381px;min-height:83px;}
.size-88{min-width:381px;width:381px;min-height:50px;}
.cont-74{z-index:82;}
.para-28{padding-top:0;text-indent:0;margin-top:4.32pt;margin-bottom:-4.32pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-37{font-family:Lato;font-size:18.00pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:30.24pt;letter-spacing:normal;}
.pos-71{position:relative;margin-left:0;margin-top:-17px;}
.size-89{min-width:277px;width:277px;min-height:50px;}
.cont-75{z-index:81;}
.para-29{padding-top:0;text-indent:0;margin-top:4.68pt;margin-bottom:-4.68pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-38{font-family:Lato;font-size:19.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:32.76pt;letter-spacing:normal;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-1920.jpg);background-size:cover;}
.cont-20{background-image:url(../images/strada-1920.jpg);background-size:cover;}
.cont-29{background-image:url(../images/strada-1920-1.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/bokeh-1200.jpg);background-size:cover;}
.cont-8{background-image:url(../images/furgonicino2-1200.jpg);background-size:cover;}
.cont-20{background-image:url(../images/strada-1200.jpg);background-size:cover;}
.cont-29{background-image:url(../images/strada-1200-1.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-2400.jpg);background-size:cover;}
.cont-20{background-image:url(../images/strada-2400.jpg);background-size:cover;}
.cont-29{background-image:url(../images/strada-2400-1.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/bokeh-1600.jpg);background-size:cover;}
.cont-8{background-image:url(../images/furgonicino2-1600.jpg);background-size:cover;}
.cont-20{background-image:url(../images/strada-1600.jpg);background-size:cover;}
.cont-29{background-image:url(../images/strada-1600-1.jpg);background-size:cover;}
}
.size-90{width:100%;min-width:960px;min-height:1017px;}
.cont-76{z-index:1;border:0;border-radius:52px;background:transparent url(../images/bokeh-960-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.cont-77{z-index:2;border:0;border-radius:52px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(246,244,241)), color-stop(1, rgb(255,161,51)));background-image:-o-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-webkit-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-ms-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:linear-gradient(to right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-clip:padding-box;}
.size-91{min-width:907px;width:907px;min-height:104px;}
.cont-78{z-index:4;}
.pos-72{position:relative;margin-left:668px;margin-top:31px;}
.size-92{min-width:54px;width:54px;min-height:43px;height:43px;}
.cont-79{z-index:5;}
.anchor-4{display:block;width:54px;}
.img-35{position:absolute;left:2px;width:49px;height:43px;top:0;border:0;}
.img-36{left:2px;width:49px;height:43px;top:0;}
.pos-73{position:relative;margin-top:98px;}
.pos-74{position:relative;margin-left:145px;margin-top:0;}
.cont-80{z-index:3;border:5px solid rgb(246,244,241);background:transparent url(../images/furgonicino2-960-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-75{position:relative;margin-left:199px;margin-top:5px;}
.size-93{min-width:262px;width:262px;min-height:52px;}
.cont-81{z-index:8;}
.pos-76{position:relative;margin-left:31px;margin-top:-28px;}
.cont-82{z-index:7;}
.pos-77{position:relative;margin-left:8px;margin-top:-144px;}
.size-94{min-width:578px;width:578px;min-height:5px;}
.cont-83{z-index:9;border:0;background-color:rgba(255,255,255,0.5);}
.pos-78{position:relative;margin-left:258px;margin-top:0;}
.cont-84{z-index:10;border:0;background-color:rgba(255,255,255,0.5);}
.cont-85{z-index:11;}
.pos-79{position:relative;margin-left:150px;margin-top:0;}
.size-95{min-width:660px;width:660px;min-height:180px;}
.pos-80{position:relative;margin-left:31px;margin-top:0;}
.para-30{padding-top:0;text-indent:0;margin-top:12.96pt;margin-bottom:-12.96pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-39{font-family:"Dancing Script";font-size:54.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:90.72pt;letter-spacing:normal;}
.pos-81{position:relative;margin-left:0;margin-top:-167px;}
.size-96{min-width:660px;width:660px;min-height:144px;height:144px;}
.cont-86{z-index:12;border:0;border-radius:72px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(243,189,12)), color-stop(1, rgb(209,72,103)));background-image:-o-linear-gradient(bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-image:-webkit-linear-gradient(bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-image:-ms-linear-gradient(bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-image:linear-gradient(to bottom, rgb(243,189,12) 0%, rgb(209,72,103) 100%);background-clip:padding-box;}
.pos-82{position:relative;margin-left:230px;margin-top:10px;}
.size-97{min-width:490px;width:490px;min-height:121px;}
.size-98{min-width:240px;width:240px;min-height:121px;height:121px;}
.anchor-5{display:block;width:240px;}
.img-37{position:absolute;left:0;width:240px;height:92px;top:14px;border:0;}
.img-38{left:0;width:240px;height:92px;top:14px;}
.pos-83{position:relative;margin-left:22px;margin-top:5px;}
.size-99{min-width:228px;width:228px;min-height:106px;height:106px;}
.cont-87{z-index:14;}
.anchor-6{display:block;width:228px;}
.img-39{position:absolute;left:0;width:228px;height:77px;top:14px;border:0;}
.img-40{left:0;width:228px;height:77px;top:14px;}
.pos-84{position:relative;margin-top:-178px;}
.size-100{width:100%;min-width:960px;min-height:884px;}
.cont-88{z-index:15;border:0;border-radius:52px;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(70,36,12)), color-stop(1, rgb(255,161,51)));background-image:-o-linear-gradient(top, rgb(70,36,12) 0%, rgb(255,161,51) 100%);background-image:-webkit-linear-gradient(top, rgb(70,36,12) 0%, rgb(255,161,51) 100%);background-image:-ms-linear-gradient(top, rgb(70,36,12) 0%, rgb(255,161,51) 100%);background-image:linear-gradient(to top, rgb(70,36,12) 0%, rgb(255,161,51) 100%);background-clip:padding-box;}
.size-101{min-width:960px;width:960px;min-height:102px;}
.cont-89{z-index:16;border:0;border-radius:51px;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgba(112,64,28,0.3)));background-image:-o-linear-gradient(top, rgb(255,255,255) 0%, rgba(112,64,28,0.3) 100%);background-image:-webkit-linear-gradient(top, rgb(255,255,255) 0%, rgba(112,64,28,0.3) 100%);background-image:-ms-linear-gradient(top, rgb(255,255,255) 0%, rgba(112,64,28,0.3) 100%);background-image:linear-gradient(to top, rgb(255,255,255) 0%, rgba(112,64,28,0.3) 100%);background-clip:padding-box;}
.pos-85{position:relative;margin-left:0;margin-top:16px;}
.size-102{min-width:960px;width:960px;min-height:54px;}
.para-31{padding-top:0;text-indent:0;margin-top:5.76pt;margin-bottom:-5.76pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-40{font-family:"Dancing Script";font-size:24.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:40.32pt;letter-spacing:normal;}
.pos-86{position:relative;margin-left:0;margin-top:22px;}
.size-103{min-width:960px;width:960px;min-height:617px;}
.font-41{font-family:Lato;font-size:36.00pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:51.84pt;letter-spacing:normal;}
.pos-87{position:relative;margin-left:0;margin-top:-291px;}
.size-104{min-width:462px;width:462px;min-height:83px;}
.pos-88{position:relative;margin-left:0;margin-top:7px;}
.cont-90{z-index:18;}
.pos-89{position:relative;margin-left:81px;margin-top:-78px;}
.cont-91{z-index:19;}
.pos-90{position:relative;margin-left:-459px;margin-top:-233px;}
.pos-91{position:relative;margin-left:394px;margin-top:-43px;}
.size-105{min-width:172px;width:172px;min-height:86px;height:86px;}
.cont-92{z-index:26;}
.anchor-7{display:block;width:172px;}
.img-41{position:absolute;left:36px;width:98px;height:86px;top:0;border:0;}
.img-42{left:36px;width:98px;height:86px;top:0;}
.pos-92{position:relative;margin-left:-212px;margin-top:25px;}
.size-106{min-width:250px;width:250px;min-height:87px;}
.size-107{min-width:250px;width:250px;min-height:78px;}
.para-32{padding-top:0;text-indent:0;margin-top:6.07pt;margin-bottom:-6.07pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-42{font-family:"EB Garamond";font-size:23.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:42.48pt;letter-spacing:normal;}
.pos-93{position:relative;margin-left:0;margin-top:-6px;}
.size-108{min-width:250px;width:250px;min-height:15px;height:15px;}
.cont-93{z-index:24;border:0;background-color:rgb(255,255,255);}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-76{background-image:url(../images/bokeh-1920.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont-76{background-image:url(../images/bokeh-1200.jpg);background-size:cover;}
.cont-80{background-image:url(../images/furgonicino2-1200.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-76{background-image:url(../images/bokeh-2400.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont-76{background-image:url(../images/bokeh-1600.jpg);background-size:cover;}
.cont-80{background-image:url(../images/furgonicino2-1600.jpg);background-size:cover;}
}
