.size-2{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(246,244,241) 0%, rgb(255,161,51) 100%);height:104px;}
.cont-9{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.cont-11{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.size-22{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,255,255) 0%, rgb(70,36,12) 100%);height:74px;}
.size-23{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(70,36,12) 0%, rgb(41,41,41) 100%);height:216px;}
.size-72{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,161,51) 0%, rgb(243,189,12) 100%);height:686px;}
.size-74{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);height:686px;}
.size-75{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);height:686px;}
.size-76{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(243,189,12) 0%, rgb(209,72,103) 100%);height:80px;}
.cont-83{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.cont-84{behavior:url(js/PIE.htc);-pie-background:rgba(255,255,255,0.5);}
.size-96{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(243,189,12) 0%, rgb(209,72,103) 100%);height:144px;}
.size-100{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left bottom, rgb(70,36,12) 0%, rgb(255,161,51) 100%);height:884px;}
.size-101{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left bottom, rgb(255,255,255) 0%, rgba(112,64,28,0.3) 100%);height:102px;}
