.size-2{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);height:8675px;}
.size-3{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(255,164,0,0) 0%, rgb(255,164,0) 100%);height:130px;}
.button{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.5);}
.size-11{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-13{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-16{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-17{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-21{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-22{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-25{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(255,164,0,0) 0%, rgb(255,164,0) 100%);height:96px;}
.size-26{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(0,0,0,0.5) 0%, rgb(255,164,0) 100%);height:288px;}
.size-43{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);height:357px;}
.size-44{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);height:357px;}
.cont-60{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.5);}
.cont-63{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.5);}
