.size-2{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);height:8675px;}
.size-3{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(255,164,0,0) 0%, rgb(255,164,0) 100%);height:130px;}
.button{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.5);}
.size-11{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-13{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-16{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-17{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-21{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-22{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(255,164,0) 0%, rgba(255,164,0,0) 100%);height:52px;}
.size-25{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(255,164,0,0) 0%, rgb(255,164,0) 100%);height:96px;}
.size-26{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(0,0,0,0.5) 0%, rgb(255,164,0) 100%);height:288px;}
.size-43{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);height:357px;}
.size-44{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);height:357px;}
.cont-60{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.5);}
.cont-63{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.5);}
@media (min-width:960px) and (max-width:1199px) {
.size-2{height:6799px;}
.size-3{height:104px;}
.size-11{height:42px;}
.size-13{height:42px;}
.size-16{height:42px;}
.size-17{height:42px;}
.size-21{height:42px;}
.size-22{height:42px;}
.size-25{height:77px;}
.size-26{height:231px;}
.size-43{height:286px;}
.size-44{height:286px;}
}
@media (min-width:768px) and (max-width:959px) {
.size-2{height:5447px;}
.size-3{height:83px;}
.size-11{height:33px;}
.size-13{height:33px;}
.size-16{height:33px;}
.size-17{height:33px;}
.size-21{height:33px;}
.size-22{height:33px;}
.size-25{height:61px;}
.size-26{height:184px;}
.size-43{height:228px;}
.size-44{height:228px;}
}
@media (min-width:480px) and (max-width:767px) {
.size-2{height:3410px;}
.size-3{height:52px;}
.size-11{height:21px;}
.size-13{height:21px;}
.size-16{height:21px;}
.size-17{height:21px;}
.size-21{height:21px;}
.size-22{height:21px;}
.size-25{height:38px;}
.size-26{height:115px;}
.size-43{height:143px;}
.size-44{height:143px;}
}
@media (max-width:479px) {
.size-2{height:2273px;}
.size-3{height:34px;}
.size-11{height:14px;}
.size-13{height:14px;}
.size-16{height:14px;}
.size-17{height:14px;}
.size-21{height:14px;}
.size-22{height:14px;}
.size-25{height:25px;}
.size-26{height:77px;}
.size-43{height:95px;}
.size-44{height:95px;}
}
