html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
#body{background-color:rgb(246,244,241);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:749px;}
.cont{z-index:1;border:0;background:transparent url(../images/bokeh-960-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
html.nofixed .fixed{background-attachment:scroll;}
.size-2{width:100%;min-width:960px;min-height:104px;}
.cont-2{z-index:7;border:0;border-radius:52px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(246,244,241)), color-stop(1, rgb(255,161,51)));background-image:-o-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-webkit-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:-ms-linear-gradient(right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-image:linear-gradient(to right, rgb(246,244,241) 0%, rgb(255,161,51) 100%);background-clip:padding-box;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;display:block;}
.pos-2{position:relative;margin-left:27px;margin-top:0;}
.size-3{min-width:910px;width:910px;min-height:104px;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-4{min-width:185px;width:185px;min-height:104px;height:104px;}
.cont-4{z-index:51;}
.img{position:absolute;left:18px;width:147px;height:104px;top:0;border:0;}
.img-2{left:18px;width:147px;height:104px;top:0;}
.pos-4{position:relative;margin-left:403px;margin-top:34px;}
.size-5{min-width:123px;width:123px;min-height:37px;}
.cont-5{z-index:52;}
.vis-2{display:inline-block;overflow:hidden;outline:0;}
.size-6{width:119px;height:26px;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:10.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:12.82pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:7px;margin-top:0;margin-bottom:0;}
.button{border:2px solid rgba(0,0,0,0.3);border-radius:19px;background-color:rgb(41,41,41);}
.button:hover{background-color:rgba(112,64,28,0.3);border-color:rgba(0,0,0,0.3);color:rgba(0,0,0,0.3);}
.button:active{background-color:rgba(112,64,28,0.3);border-color:rgba(0,0,0,0.3);color:rgb(246,244,241);}
.pos-6{position:relative;margin-left:18px;margin-top:34px;}
.size-7{min-width:181px;width:181px;min-height:37px;}
.cont-6{z-index:53;}
.size-8{width:177px;height:26px;}
.pos-7{position:relative;margin-top:98px;}
.pos-8{position:relative;margin-left:145px;margin-top:0;}
.size-9{min-width:670px;width:670px;min-height:227px;}
.colwrapper{line-height:0;}
.size-10{min-width:660px;width:660px;min-height:217px;}
.cont-7{z-index:8;border:5px solid rgb(246,244,241);background:transparent url(../images/furgonicino2-960-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-9{position:relative;margin-left:39px;margin-top:5px;}
.size-11{min-width:578px;width:578px;min-height:65px;}
.pos-10{position:relative;margin-left:0;margin-top:60px;}
.size-12{min-width:160px;width:160px;min-height:5px;height:5px;}
.cont-8{z-index:9;border:0;background-color:rgba(255,255,255,0.5);}
.pos-11{position:relative;margin-left:19px;margin-top:0;}
.size-13{min-width:224px;width:224px;min-height:52px;}
.cont-9{z-index:10;}
.para{padding-top:0;text-indent:0;margin-top:5.40pt;margin-bottom:-5.40pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-2{font-family:Lato;font-size:22.50pt;font-weight:300;font-style:italic;text-decoration:none;color:rgb(70,36,12);line-height:37.80pt;letter-spacing:normal;}
.pos-12{position:relative;margin-left:15px;margin-top:60px;}
.cont-10{z-index:11;border:0;background-color:rgba(255,255,255,0.5);}
.pos-13{position:relative;margin-left:36px;margin-top:-193px;}
.size-14{min-width:600px;width:600px;min-height:182px;}
.size-15{min-width:600px;width:600px;min-height:180px;}
.cont-11{z-index:47;}
.para-2{padding-top:0;text-indent:0;margin-top:14.04pt;margin-bottom:-14.04pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-3{font-family:Lato;font-size:58.50pt;font-weight:900;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:98.28pt;letter-spacing:normal;}
.pos-14{position:relative;margin-left:0;margin-top:-178px;}
.cont-12{z-index:34;}
.para-3{padding-top:0;text-indent:0;margin-top:18.00pt;margin-bottom:-18.00pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-4{font-family:Lato;font-size:75.00pt;font-weight:900;font-style:normal;text-decoration:none;color:rgba(112,64,28,0.3);line-height:126.00pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:334px;margin-top:-52px;}
.size-16{min-width:293px;width:293px;min-height:100px;height:100px;}
.cont-13{z-index:12;}
.img-3{position:absolute;left:96px;width:100px;height:100px;top:0;border:0;}
.img-4{left:96px;width:100px;height:100px;top:0;}
.pos-16{position:relative;margin-top:-51px;}
.size-17{min-width:960px;width:960px;min-height:320px;}
.size-18{min-width:320px;width:320px;min-height:320px;}
.cont-14{z-index:14;border:0;background-color:rgb(255,255,255);}
.pos-17{position:relative;margin-left:18px;margin-top:28px;}
.size-19{min-width:284px;width:284px;min-height:183px;}
.cont-15{z-index:16;}
.size-20{min-width:284px;width:284px;min-height:54px;}
.font-5{font-family:"Dancing Script";font-size:22.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:37.80pt;letter-spacing:normal;}
.pos-18{position:relative;margin-left:20px;margin-top:0;}
.size-21{min-width:244px;width:244px;min-height:129px;}
.para-4{padding-top:0;text-indent:0;margin-top:3.67pt;margin-bottom:-3.67pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-6{font-family:Jura;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:25.67pt;letter-spacing:3.50px;}
.font-7{font-family:Jura;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:25.67pt;letter-spacing:normal;}
.para-5{padding-top:0;text-indent:0;margin-top:3.06pt;margin-bottom:-3.06pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-8{font-family:Jura;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:21.39pt;letter-spacing:normal;}
.pos-19{position:relative;margin-left:15px;margin-top:29px;}
.size-22{min-width:293px;width:293px;min-height:59px;}
.size-23{min-width:142px;width:142px;min-height:59px;height:59px;}
.cont-16{z-index:17;}
.anchor{display:block;width:142px;}
.img-5{position:absolute;left:0;width:142px;height:54px;top:2px;border:0;}
.img-6{left:0;width:142px;height:54px;top:2px;}
.pos-20{position:relative;margin-left:22px;margin-top:6px;}
.size-24{min-width:129px;width:129px;min-height:43px;height:43px;}
.cont-17{z-index:18;}
.anchor-2{display:block;width:129px;}
.img-7{position:absolute;left:1px;width:126px;height:43px;top:0;border:0;}
.img-8{left:1px;width:126px;height:43px;top:0;}
.size-25{min-width:640px;width:640px;min-height:319px;height:319px;}
.cont-18{z-index:15;}
.img-9{position:absolute;left:0;width:640px;height:319px;top:0;border:0;}
.img-10{left:0;width:640px;height:319px;top:0;}
.pos-21{position:relative;margin-left:0;margin-top:-2px;}
.pos-22{position:relative;margin-left:0;margin-top:1px;}
.cont-19{z-index:19;}
.cont-20{z-index:13;border:0;background-color:rgb(255,255,255);}
.size-26{min-width:284px;width:284px;min-height:274px;}
.cont-21{z-index:20;}
.size-27{min-width:284px;width:284px;min-height:80px;}
.para-6{padding-top:0;text-indent:0;margin-top:7.20pt;margin-bottom:-7.20pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-9{font-family:"Dancing Script";font-size:30.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:50.40pt;letter-spacing:normal;}
.size-28{min-width:244px;width:244px;min-height:194px;}
.para-7{padding-top:0;text-indent:0;margin-top:1.62pt;margin-bottom:-1.62pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-10{font-family:Lato;font-size:13.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:19.44pt;letter-spacing:normal;}
.pos-23{position:relative;margin-top:-56px;}
.size-29{width:100%;min-width:960px;min-height:468px;}
.cont-22{z-index:5;border:0;background:rgb(20,156,179) url(../images/strada-960-2.jpg) no-repeat 50% 0;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-24{position:relative;margin-top:136px;}
.pos-25{position:relative;margin-left:165px;margin-top:0;}
.size-30{min-width:620px;width:620px;min-height:163px;}
.cont-23{z-index:21;border:5px solid rgb(246,244,241);background:transparent url(../images/strada-960-5.jpg) no-repeat 50% 0;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
.pos-26{position:relative;margin-left:11px;margin-top:22px;}
.size-31{min-width:600px;width:600px;min-height:119px;}
.cont-24{z-index:22;}
.para-8{padding-top:0;text-indent:0;margin-top:3.60pt;margin-bottom:-3.60pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-11{font-family:Lato;font-size:30.00pt;font-weight:300;font-style:italic;text-decoration:none;color:rgb(246,244,241);line-height:43.20pt;letter-spacing:normal;}
.pos-27{position:relative;margin-top:-58px;}
.size-32{min-width:960px;width:960px;min-height:129px;}
.size-33{min-width:960px;width:960px;min-height:119px;height:119px;}
.cont-25{z-index:23;border:0;background-color:rgb(246,244,241);}
.pos-28{position:relative;margin-left:95px;margin-top:-109px;}
.size-34{min-width:775px;width:775px;min-height:119px;}
.cont-26{z-index:27;}
.para-9{padding-top:0;text-indent:0;margin-top:10.80pt;margin-bottom:-10.80pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-12{font-family:"Dancing Script";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:75.60pt;letter-spacing:normal;}
.size-35{min-width:960px;width:960px;min-height:1292px;}
.pos-29{position:relative;margin-left:401px;margin-top:0;}
.size-36{min-width:160px;width:160px;min-height:7px;height:7px;}
.cont-27{border:0;background-color:rgb(223,223,223);}
.size-37{min-width:960px;width:960px;min-height:1285px;}
.cont-28{z-index:29;}
.para-10{padding-top:0;text-indent:0;margin-top:3.00pt;margin-bottom:-3.00pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-13{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:21.00pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-14{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(41,41,41);line-height:18.90pt;letter-spacing:normal;}
.pos-30{position:relative;margin-left:0;margin-top:-1285px;}
.size-38{min-width:960px;width:960px;min-height:1285px;height:1285px;}
.cont-29{z-index:28;border:0;background-color:rgb(255,255,255);}
.pos-31{position:relative;margin-top:-21px;}
.size-39{width:100%;min-width:960px;min-height:1536px;}
.cont-30{z-index:6;border:0;background-color:rgb(20,156,179);}
.pos-32{position:relative;margin-top:2px;}
.pos-33{position:relative;margin-left:83px;margin-top:0;}
.cont-31{z-index:26;}
.font-15{font-family:"Dancing Script";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:75.60pt;letter-spacing:normal;}
.pos-34{position:relative;margin-left:390px;margin-top:21px;}
.cont-32{z-index:30;border:0;background-color:rgb(246,244,241);}
.pos-35{position:relative;margin-left:55px;margin-top:20px;}
.size-40{min-width:853px;width:853px;min-height:40px;}
.cont-33{z-index:31;}
.para-12{padding-top:0;text-indent:0;margin-top:1.98pt;margin-bottom:-1.98pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-16{font-family:Lato;font-size:16.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:23.76pt;letter-spacing:normal;}
.pos-36{position:relative;margin-left:170px;margin-top:20px;}
.size-41{min-width:600px;width:600px;min-height:165px;}
.cont-34{z-index:32;}
.para-13{padding-top:0;text-indent:0;margin-top:8.64pt;margin-bottom:-8.64pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-17{font-family:"Dancing Script";font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:60.48pt;letter-spacing:normal;}
.font-18{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:25.20pt;letter-spacing:normal;}
.para-14{padding-top:0;text-indent:0;margin-top:2.10pt;margin-bottom:-2.10pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-19{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:10.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgba(0,0,0,0.3);line-height:14.70pt;letter-spacing:normal;}
.para-15{padding-top:0;text-indent:0;margin-top:4.68pt;margin-bottom:-4.68pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-20{font-family:Lato;font-size:19.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:32.76pt;letter-spacing:normal;}
.pos-37{position:relative;margin-left:172px;margin-top:14px;}
.cont-35{z-index:67;}
.para-16{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-21{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:18.90pt;letter-spacing:normal;}
.para-17{padding-top:0;text-indent:0;margin-top:2.25pt;margin-bottom:-2.25pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-22{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:15.75pt;letter-spacing:normal;}
.pos-38{position:relative;margin-left:180px;margin-top:-169px;}
.size-42{min-width:239px;width:239px;min-height:99px;}
.size-43{min-width:92px;width:92px;min-height:99px;height:99px;}
.cont-36{z-index:33;}
.img-11{position:absolute;left:0;width:92px;height:92px;top:4px;border:0;}
.img-12{left:0;width:92px;height:92px;top:4px;}
.pos-39{position:relative;margin-left:53px;margin-top:0;}
.size-44{min-width:94px;width:94px;min-height:99px;height:99px;}
.cont-37{z-index:37;}
.img-13{position:absolute;left:0;width:94px;height:94px;top:3px;border:0;}
.img-14{left:0;width:94px;height:94px;top:3px;}
.pos-40{position:relative;margin-left:170px;margin-top:0;}
.cont-38{z-index:64;}
.pos-41{position:relative;margin-left:238px;margin-top:-169px;}
.size-45{min-width:128px;width:128px;min-height:79px;height:79px;}
.cont-39{z-index:40;}
.img-15{position:absolute;left:24px;width:79px;height:79px;top:0;border:0;}
.img-16{left:24px;width:79px;height:79px;top:0;}
.pos-42{position:relative;margin-left:171px;margin-top:0;}
.cont-40{z-index:43;}
.pos-43{position:relative;margin-left:214px;margin-top:-180px;}
.size-46{min-width:165px;width:165px;min-height:137px;height:137px;}
.cont-41{z-index:62;}
.img-17{position:absolute;left:0;width:165px;height:126px;top:5px;border:0;}
.img-18{left:0;width:165px;height:126px;top:5px;}
.cont-42{z-index:46;}
.pos-44{position:relative;margin-left:251px;margin-top:-175px;}
.size-47{min-width:97px;width:97px;min-height:75px;height:75px;}
.cont-43{z-index:60;}
.img-19{position:absolute;left:11px;width:75px;height:75px;top:0;border:0;}
.img-20{left:11px;width:75px;height:75px;top:0;}
.cont-44{z-index:48;}
.pos-45{position:relative;margin-left:253px;margin-top:-180px;}
.size-48{min-width:95px;width:95px;min-height:98px;height:98px;}
.cont-45{z-index:58;}
.img-21{position:absolute;left:0;width:95px;height:95px;top:2px;border:0;}
.img-22{left:0;width:95px;height:95px;top:2px;}
.cont-46{z-index:56;}
.pos-46{position:relative;margin-left:245px;margin-top:-172px;}
.size-49{min-width:109px;width:109px;min-height:92px;height:92px;}
.cont-47{z-index:49;}
.img-23{position:absolute;left:8px;width:92px;height:92px;top:0;border:0;}
.img-24{left:8px;width:92px;height:92px;top:0;}
.size-50{width:100%;min-width:960px;min-height:2331px;}
.cont-48{z-index:25;border:0;background-color:rgb(58,199,189);}
.pos-47{position:relative;margin-top:1px;}
.pos-48{position:relative;margin-left:103px;margin-top:0;}
.cont-49{z-index:69;}
.pos-49{position:relative;margin-left:0;margin-top:23px;}
.size-51{min-width:960px;width:960px;min-height:2188px;}
.cont-50{z-index:70;}
.font-23{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:18.90pt;letter-spacing:normal;}
.font-24{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:10.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:14.70pt;letter-spacing:normal;}
.para-18{padding-top:0;text-indent:0;margin-top:2.10pt;margin-bottom:-2.10pt;padding-right:0;text-align:left;word-wrap:break-word;}
.para-19{padding-top:0;text-indent:0;margin-top:3.60pt;margin-bottom:-3.60pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-25{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:18.90pt;letter-spacing:normal;}
.size-52{min-width:960px;width:960px;min-height:724px;}
.size-53{min-width:320px;width:320px;min-height:724px;height:724px;}
.cont-51{z-index:54;}
.img-25{position:absolute;left:0;width:320px;height:724px;top:0;border-radius:10px 0 0 10px;border:0;}
.img-26{left:0;width:320px;height:724px;top:0;}
.size-54{min-width:640px;width:640px;min-height:724px;}
.size-55{min-width:640px;width:640px;min-height:409px;height:409px;}
.cont-52{z-index:55;}
.img-27{position:absolute;left:0;width:640px;height:409px;top:0;border-radius:0 10px 0 0;border:0;}
.img-28{left:0;width:640px;height:409px;top:0;}
.pos-50{position:relative;margin-left:518px;margin-top:-65px;}
.size-56{min-width:111px;width:111px;min-height:79px;}
.cont-53{z-index:57;}
.para-20{padding-top:0;text-indent:0;margin-top:6.30pt;margin-bottom:-6.30pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-26{font-family:Lato;font-size:26.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(246,244,241);line-height:44.10pt;letter-spacing:normal;}
.pos-51{position:relative;margin-left:0;margin-top:-14px;}
.size-57{min-width:640px;width:640px;min-height:315px;height:315px;}
.cont-54{z-index:59;}
.img-29{position:absolute;left:0;width:640px;height:315px;top:0;border-radius:0 0 10px 0;border:0;}
.img-30{left:0;width:640px;height:315px;top:0;}
.pos-52{position:relative;margin-top:-177px;}
.size-58{width:100%;min-width:960px;min-height:484px;}
.cont-55{z-index:50;}
.size-59{width:100%;min-width:960px;min-height:484px;}
.cont-56{z-index:2;border:0;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(255,161,51)), color-stop(1, rgb(243,189,12)));background-image:-o-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:-webkit-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:-ms-linear-gradient(left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-image:linear-gradient(to left, rgb(255,161,51) 0%, rgb(243,189,12) 100%);background-clip:padding-box;}
.size-60{min-width:959px;width:959px;min-height:484px;}
.size-61{min-width:480px;width:480px;min-height:484px;height:484px;}
.cont-57{z-index:3;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(243,189,12,0)), color-stop(1, rgb(243,189,12)));background-image:-o-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:-webkit-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:-ms-linear-gradient(right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-image:linear-gradient(to right, rgba(243,189,12,0) 0%, rgb(243,189,12) 100%);background-clip:padding-box;}
.size-62{min-width:479px;width:479px;min-height:484px;height:484px;}
.cont-58{z-index:4;border:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(255,161,51)), color-stop(1, rgba(255,161,51,0)));background-image:-o-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:-webkit-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:-ms-linear-gradient(right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-image:linear-gradient(to right, rgb(255,161,51) 0%, rgba(255,161,51,0) 100%);background-clip:padding-box;}
.pos-53{position:relative;margin-top:-374px;}
.pos-54{position:relative;margin-left:10px;margin-top:0;}
.size-63{min-width:939px;width:939px;min-height:84px;}
.size-64{min-width:115px;width:115px;min-height:67px;}
.cont-59{z-index:61;}
.pos-55{position:relative;margin-left:672px;margin-top:5px;}
.size-65{min-width:152px;width:152px;min-height:79px;}
.cont-60{z-index:63;}
.pos-56{position:relative;margin-left:0;margin-top:-10px;}
.size-66{min-width:797px;width:797px;min-height:300px;}
.size-67{min-width:455px;width:455px;min-height:300px;}
.cont-61{z-index:65;}
.para-21{padding-top:0;text-indent:0;margin-top:4.23pt;margin-bottom:-4.23pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-27{font-family:Lato;font-size:35.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:50.76pt;letter-spacing:normal;}
.para-22{padding-top:0;text-indent:0;margin-top:1.80pt;margin-bottom:-1.80pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-28{font-family:Lato;font-size:15.00pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:21.60pt;letter-spacing:normal;}
.para-23{padding-top:0;text-indent:0;margin-top:4.14pt;margin-bottom:-4.14pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-29{font-family:Lato;font-size:34.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:49.68pt;letter-spacing:normal;}
.font-30{font-family:Lato;font-size:15.00pt;font-weight:300;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:21.60pt;letter-spacing:normal;}
.pos-57{position:relative;margin-left:45px;margin-top:85px;}
.size-68{min-width:297px;width:297px;min-height:110px;}
.size-69{min-width:297px;width:297px;min-height:45px;}
.cont-62{z-index:66;}
.size-70{min-width:55px;width:55px;min-height:45px;height:45px;}
.img-31{position:absolute;left:5px;width:45px;height:45px;top:0;border:0;}
.img-32{left:5px;width:45px;height:45px;top:0;}
.pos-58{position:relative;margin-left:2px;margin-top:2px;}
.size-71{min-width:240px;width:240px;min-height:42px;}
.para-24{padding-top:0;text-indent:0;margin-top:1.98pt;margin-bottom:-1.98pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-31{font-family:Lato;font-size:16.50pt;font-weight:300;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:23.76pt;letter-spacing:normal;}
.pos-59{position:relative;margin-left:0;margin-top:20px;}
.cont-63{z-index:68;}
.pos-60{position:relative;margin-left:2px;margin-top:1px;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-1920.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1920.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1920-1.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/bokeh-1200.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-1200.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1200.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1200-1.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/bokeh-2400.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-2400.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-2400-1.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/bokeh-1600.jpg);background-size:cover;}
.cont-7{background-image:url(../images/furgonicino2-1600.jpg);background-size:cover;}
.cont-22{background-image:url(../images/strada-1600.jpg);background-size:cover;}
.cont-23{background-image:url(../images/strada-1600-1.jpg);background-size:cover;}
}
