html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:0;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;display:block;}
.vis{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1200px;width:1200px;min-height:3689px;}
.cont{z-index:1;border:0;border-radius:10px;background-color:rgb(192,192,192);}
.size-2{min-width:1200px;width:1200px;min-height:701px;}
.cont-2{z-index:2;border:0;border-radius:10px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(251,214,2)), color-stop(1, rgba(251,214,2,0)));background-image:-o-linear-gradient(left, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-webkit-linear-gradient(left, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-ms-linear-gradient(left, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:linear-gradient(to left, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-clip:padding-box;}
.pos-3{position:relative;margin-left:16px;margin-top:15px;}
.size-3{min-width:354px;width:354px;min-height:101px;}
.size-4{min-width:143px;width:143px;min-height:91px;height:91px;}
.cont-4{z-index:7;}
.anchor{display:block;width:143px;}
.img{position:absolute;left:0;width:143px;height:80px;top:5px;border:0;}
.img-2{left:0;width:143px;height:80px;top:5px;}
.pos-4{position:relative;margin-left:11px;margin-top:45px;}
.size-5{min-width:200px;width:200px;min-height:56px;}
.cont-5{z-index:8;}
.para{padding-top:0;text-indent:0;margin-top:4.89pt;margin-bottom:-4.89pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font{font-family:"EB Garamond";font-size:18.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:34.26pt;letter-spacing:normal;}
.pos-5{position:relative;margin-left:0;margin-top:-586px;}
.size-6{min-width:1200px;width:1200px;min-height:904px;}
.colwrapper{line-height:0;}
.size-7{min-width:1200px;width:1200px;min-height:904px;height:904px;}
.cont-6{z-index:9;}
.img-3{position:absolute;left:0;width:1200px;height:900px;top:2px;border-radius:29px;border:0;}
.img-4{left:0;width:1200px;height:900px;top:2px;}
.pos-6{position:relative;margin-left:71px;margin-top:-854px;}
.size-8{min-width:600px;width:600px;min-height:340px;height:340px;}
.cont-7{z-index:10;}
.img-5{position:absolute;left:0;width:600px;height:339px;top:0;border:0;}
.img-6{left:0;width:600px;height:339px;top:0;}
.pos-7{position:relative;margin-left:0;margin-top:-442px;}
.size-9{min-width:474px;width:474px;min-height:85px;}
.pos-8{position:relative;margin-left:22px;margin-top:0;}
.size-10{min-width:372px;width:372px;min-height:85px;}
.cont-8{z-index:12;}
.para-2{padding-top:0;text-indent:0;margin-top:8.81pt;margin-bottom:-8.81pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-2{font-family:"EB Garamond";font-size:33.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:61.66pt;letter-spacing:normal;}
.pos-9{position:relative;margin-left:0;margin-top:-60px;}
.size-11{min-width:474px;width:474px;min-height:56px;height:56px;}
.cont-9{z-index:11;border:0;border-radius:28px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(251,214,2,0)), color-stop(1, rgb(251,214,2)));background-image:-o-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-webkit-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-ms-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:linear-gradient(to left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-clip:padding-box;}
.pos-10{position:relative;margin-left:0;margin-top:-351px;}
.size-12{min-width:1200px;width:1200px;min-height:350px;}
.pos-11{position:relative;margin-left:0;margin-top:138px;}
.size-13{min-width:688px;width:688px;min-height:212px;}
.pos-12{position:relative;margin-left:116px;margin-top:0;}
.size-14{min-width:511px;width:511px;min-height:212px;}
.cont-10{z-index:16;}
.para-3{padding-top:0;text-indent:0;margin-top:22.71pt;margin-bottom:-22.71pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-3{font-family:"EB Garamond";font-size:87.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:158.95pt;letter-spacing:normal;}
.pos-13{position:relative;margin-left:0;margin-top:-122px;}
.size-15{min-width:688px;width:688px;min-height:120px;height:120px;}
.cont-11{z-index:14;border:0;border-radius:60px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(251,214,2,0)), color-stop(1, rgb(251,214,2)));background-image:-o-linear-gradient(right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-webkit-linear-gradient(right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-ms-linear-gradient(right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:linear-gradient(to right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-clip:padding-box;}
.pos-14{position:relative;margin-left:70px;margin-top:0;}
.size-16{min-width:442px;width:442px;min-height:350px;}
.size-17{min-width:441px;width:441px;min-height:350px;height:350px;}
.cont-12{z-index:13;border:0;border-radius:23px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(251,214,2)), color-stop(1, rgba(251,214,2,0)));background-image:-o-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-webkit-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-ms-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:linear-gradient(to bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-clip:padding-box;}
.pos-15{position:relative;margin-left:5px;margin-top:-322px;}
.size-18{min-width:437px;width:437px;min-height:296px;}
.cont-13{z-index:15;}
.para-4{padding-top:0;text-indent:0;margin-top:10.37pt;margin-bottom:-10.37pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-4{font-family:"EB Garamond";font-size:39.75pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:72.62pt;letter-spacing:normal;}
.pos-16{position:relative;margin-left:0;margin-top:0;}
.size-19{min-width:1200px;width:1200px;min-height:130px;}
.cont-14{z-index:17;}
.para-5{padding-top:0;text-indent:0;margin-top:12.53pt;margin-bottom:-12.53pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-5{font-family:"EB Garamond";font-size:48.00pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:87.70pt;letter-spacing:normal;}
.pos-17{position:relative;margin-left:0;margin-top:-55px;}
.size-20{min-width:1200px;width:1200px;min-height:10px;}
.size-21{min-width:490px;width:490px;min-height:10px;height:10px;}
.cont-15{z-index:18;border:0;border-radius:5px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-18{position:relative;margin-left:220px;margin-top:0;}
.size-22{min-width:490px;width:490px;min-height:10px;height:10px;}
.cont-16{z-index:19;border:0;border-radius:5px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-19{position:relative;margin-left:0;margin-top:0;}
.size-23{min-width:1200px;width:1200px;min-height:512px;}
.cont-17{z-index:21;}
.para-6{padding-top:0;text-indent:0;margin-top:5.40pt;margin-bottom:-5.40pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-6{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:27.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:37.80pt;letter-spacing:normal;}
.font-7{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:27.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(128,128,128);line-height:37.80pt;letter-spacing:normal;}
.para-7{padding-top:0;text-indent:0;margin-top:4.14pt;margin-bottom:-4.14pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-8{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:33.81pt;letter-spacing:normal;}
.pos-20{position:relative;margin-left:0;margin-top:0;}
.size-24{min-width:1200px;width:1200px;min-height:130px;}
.cont-18{z-index:3;}
.pos-21{position:relative;margin-left:0;margin-top:-55px;}
.size-25{min-width:1200px;width:1200px;min-height:10px;}
.pos-22{position:relative;margin-left:0;margin-top:0;}
.size-26{min-width:424px;width:424px;min-height:10px;height:10px;}
.cont-19{z-index:22;border:0;border-radius:5px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-23{position:relative;margin-left:352px;margin-top:0;}
.size-27{min-width:424px;width:424px;min-height:10px;height:10px;}
.cont-20{z-index:23;border:0;border-radius:5px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-24{position:relative;margin-left:0;margin-top:1px;}
.size-28{min-width:1200px;width:1200px;min-height:1850px;}
.cont-21{z-index:20;}
.font-9{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:33.81pt;letter-spacing:normal;}
.para-8{padding-top:0;text-indent:0;margin-top:4.14pt;margin-bottom:-4.14pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-10{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:33.81pt;letter-spacing:normal;}
.para-9{padding-top:0;text-indent:0;margin-top:5.40pt;margin-bottom:-5.40pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-11{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:27.00pt;font-weight:700;font-style:normal;text-decoration:underline;color:rgb(255,255,255);line-height:37.80pt;letter-spacing:normal;}
.font-12{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:33.81pt;letter-spacing:normal;}
.font-13{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:33.81pt;letter-spacing:normal;}
.pos-25{position:relative;margin-left:600px;margin-top:-1809px;}
.size-29{min-width:600px;width:600px;min-height:355px;height:355px;}
.cont-22{z-index:4;}
.img-7{position:absolute;left:0;width:598px;height:355px;top:0;opacity:0.21;border:0;}
.img-8{left:0;width:598px;height:355px;top:0;}
.pos-26{position:relative;margin-left:0;margin-top:-988px;}
.size-30{min-width:600px;width:600px;min-height:450px;height:450px;}
.cont-23{z-index:5;}
.img-9{position:absolute;left:0;width:600px;height:450px;top:0;opacity:0.21;border:0;}
.img-10{left:0;width:600px;height:450px;top:0;}
.pos-27{position:relative;margin-left:590px;margin-top:-373px;}
.size-31{min-width:610px;width:610px;min-height:282px;height:282px;}
.cont-24{z-index:6;}
.img-11{position:absolute;left:0;width:610px;height:281px;top:0;opacity:0.21;border:0;}
.img-12{left:0;width:610px;height:281px;top:0;}
.pos-28{position:relative;margin-left:22px;margin-top:0;}
.size-32{min-width:1177px;width:1177px;min-height:47px;}
.cont-25{z-index:24;}
.para-10{padding-top:0;text-indent:0;margin-top:3.72pt;margin-bottom:-3.72pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-14{font-family:"EB Garamond";font-size:14.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:26.03pt;letter-spacing:normal;}
.font-15{font-family:"EB Garamond";font-size:14.25pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(0,0,0);line-height:26.03pt;letter-spacing:normal;}
@media (min-width:960px) and (max-width:1199px) {
.section{min-width:960px;width:960px;}
.size{min-width:960px;width:960px;min-height:2831px;}
.size-2{min-width:960px;width:960px;min-height:404px;}
.pos-3{margin-left:10px;margin-top:12px;}
.size-3{min-width:283px;width:283px;min-height:81px;}
.size-4{min-width:114px;width:114px;min-height:73px;height:73px;}
.anchor{width:114px;}
.img{width:114px;height:64px;top:4px;}
.img-2{width:114px;height:64px;top:4px;}
.pos-4{margin-left:9px;margin-top:36px;}
.size-5{min-width:160px;width:160px;min-height:45px;}
.para{margin-top:3.92pt;margin-bottom:-3.92pt;}
.font{font-size:15.00pt;line-height:27.41pt;}
.pos-5{margin-top:-312px;}
.size-6{min-width:960px;width:960px;min-height:723px;}
.size-7{min-width:960px;width:960px;min-height:723px;height:723px;}
.img-3{width:960px;height:720px;}
.img-4{width:960px;height:720px;}
.pos-6{margin-left:57px;margin-top:-683px;}
.size-8{min-width:480px;width:480px;min-height:272px;height:272px;}
.img-5{width:480px;height:271px;}
.img-6{width:480px;height:271px;}
.pos-7{margin-left:435px;margin-top:-381px;}
.size-9{min-width:495px;width:495px;min-height:68px;}
.pos-8{margin-left:13px;}
.size-10{min-width:482px;width:482px;min-height:68px;}
.para-2{margin-top:7.05pt;margin-bottom:-7.05pt;}
.font-2{font-size:27.00pt;line-height:49.33pt;}
.pos-9{margin-top:-46px;}
.size-11{min-width:482px;width:482px;min-height:45px;height:45px;}
.cont-9{border-radius:23px;}
.pos-10{margin-top:-287px;}
.size-12{min-width:960px;width:960px;min-height:285px;}
.pos-11{margin-top:115px;}
.size-13{min-width:550px;width:550px;min-height:170px;}
.pos-12{margin-left:94px;}
.size-14{min-width:409px;width:409px;min-height:170px;}
.para-3{margin-top:18.20pt;margin-bottom:-18.20pt;}
.font-3{font-size:69.75pt;line-height:127.43pt;}
.pos-13{margin-top:-96px;}
.size-15{min-width:550px;width:550px;min-height:96px;height:96px;}
.cont-11{border-radius:48px;}
.pos-14{margin-left:57px;}
.size-16{min-width:353px;width:353px;min-height:280px;}
.size-17{min-width:353px;width:353px;min-height:280px;height:280px;}
.pos-15{margin-left:3px;margin-top:-266px;}
.size-18{min-width:350px;width:350px;min-height:237px;}
.para-4{margin-top:8.22pt;margin-bottom:-8.22pt;}
.font-4{font-size:31.50pt;line-height:57.55pt;}
.pos-16{margin-top:-2px;}
.size-19{min-width:960px;width:960px;min-height:78px;}
.para-5{margin-top:7.44pt;margin-bottom:-7.44pt;}
.font-5{font-size:28.50pt;line-height:52.07pt;}
.pos-17{margin-top:-39px;}
.size-20{min-width:946px;width:946px;min-height:8px;}
.size-21{min-width:392px;width:392px;min-height:8px;height:8px;}
.cont-15{border-radius:4px;}
.pos-18{margin-left:162px;}
.size-22{min-width:392px;width:392px;min-height:8px;height:8px;}
.cont-16{border-radius:4px;}
.pos-19{margin-top:26px;}
.size-23{min-width:960px;width:960px;min-height:410px;}
.para-6{margin-top:4.35pt;margin-bottom:-4.35pt;}
.font-6{font-size:21.75pt;line-height:30.45pt;}
.font-7{font-size:21.75pt;line-height:30.45pt;}
.para-7{margin-top:3.25pt;margin-bottom:-3.25pt;}
.font-8{font-size:16.50pt;line-height:26.56pt;}
.pos-20{margin-top:-1px;}
.size-24{min-width:960px;width:960px;min-height:79px;}
.pos-21{margin-top:-39px;}
.size-25{min-width:960px;width:960px;min-height:8px;}
.size-26{min-width:392px;width:392px;min-height:8px;height:8px;}
.cont-19{border-radius:4px;}
.pos-23{margin-left:176px;}
.size-27{min-width:392px;width:392px;min-height:8px;height:8px;}
.cont-20{border-radius:4px;}
.pos-24{margin-top:0;}
.size-28{min-width:960px;width:960px;min-height:1388px;}
.font-9{font-size:16.50pt;line-height:26.56pt;}
.para-8{margin-top:1.48pt;margin-bottom:-1.48pt;}
.font-10{font-size:7.50pt;line-height:12.07pt;}
.para-9{margin-top:3.60pt;margin-bottom:-3.60pt;}
.font-11{font-size:18.00pt;line-height:25.20pt;}
.font-12{font-size:16.50pt;line-height:26.56pt;}
.font-13{font-size:16.50pt;line-height:26.56pt;}
.pos-25{margin-left:480px;margin-top:-1326px;}
.size-29{min-width:480px;width:480px;min-height:284px;height:284px;}
.img-7{width:478px;height:284px;}
.img-8{width:478px;height:284px;}
.pos-26{margin-top:-836px;}
.size-30{min-width:480px;width:480px;min-height:360px;height:360px;}
.img-9{width:480px;height:360px;}
.img-10{width:480px;height:360px;}
.pos-27{margin-left:472px;margin-top:-397px;}
.size-31{min-width:488px;width:488px;min-height:225px;height:225px;}
.img-11{width:488px;height:224px;}
.img-12{width:488px;height:224px;}
.pos-28{margin-left:18px;}
.size-32{min-width:942px;width:942px;min-height:38px;}
.para-10{margin-top:2.94pt;margin-bottom:-2.94pt;}
.font-14{font-size:11.25pt;line-height:20.55pt;}
.font-15{font-size:11.25pt;line-height:20.55pt;}
}
@media (min-width:768px) and (max-width:959px) {
.section{min-width:768px;width:768px;}
.size{min-width:768px;width:768px;min-height:2359px;}
.size-2{min-width:768px;width:768px;min-height:323px;}
.pos-3{margin-left:8px;margin-top:9px;}
.size-3{min-width:226px;width:226px;min-height:65px;}
.size-4{min-width:91px;width:91px;min-height:58px;height:58px;}
.anchor{width:91px;}
.img{width:91px;height:51px;top:3px;}
.img-2{width:91px;height:51px;top:3px;}
.pos-4{margin-left:7px;margin-top:29px;}
.size-5{min-width:128px;width:128px;min-height:36px;}
.para{margin-top:3.13pt;margin-bottom:-3.13pt;}
.font{font-size:12.00pt;line-height:21.92pt;}
.pos-5{margin-top:-250px;}
.size-6{min-width:768px;width:768px;min-height:578px;}
.size-7{min-width:768px;width:768px;min-height:578px;height:578px;}
.img-3{width:768px;height:576px;top:1px;}
.img-4{width:768px;height:576px;top:1px;}
.pos-6{margin-left:45px;margin-top:-546px;}
.size-8{min-width:384px;width:384px;min-height:217px;height:217px;}
.img-5{width:383px;height:217px;}
.img-6{width:383px;height:217px;}
.pos-7{margin-left:348px;margin-top:-304px;}
.size-9{min-width:395px;width:395px;min-height:54px;}
.pos-8{margin-left:10px;}
.size-10{min-width:385px;width:385px;min-height:54px;}
.para-2{margin-top:5.68pt;margin-bottom:-5.68pt;}
.font-2{font-size:21.75pt;line-height:39.74pt;}
.pos-9{margin-top:-37px;}
.size-11{min-width:385px;width:385px;min-height:36px;height:36px;}
.cont-9{border-radius:18px;}
.pos-10{margin-top:-229px;}
.size-12{min-width:768px;width:768px;min-height:228px;}
.pos-11{margin-top:92px;}
.size-13{min-width:440px;width:440px;min-height:136px;}
.pos-12{margin-left:75px;}
.size-14{min-width:327px;width:327px;min-height:136px;}
.para-3{margin-top:14.49pt;margin-bottom:-14.49pt;}
.font-3{font-size:55.50pt;line-height:101.40pt;}
.pos-13{margin-top:-77px;}
.size-15{min-width:440px;width:440px;min-height:77px;height:77px;}
.cont-11{border-radius:39px;}
.pos-14{margin-left:45px;}
.size-16{min-width:283px;width:283px;min-height:224px;}
.size-17{min-width:282px;width:282px;min-height:224px;height:224px;}
.pos-15{margin-left:3px;margin-top:-213px;}
.size-18{min-width:280px;width:280px;min-height:189px;}
.para-4{margin-top:6.66pt;margin-bottom:-6.66pt;}
.font-4{font-size:25.50pt;line-height:46.59pt;}
.pos-16{margin-top:1px;}
.size-19{min-width:768px;width:768px;min-height:63px;}
.para-5{margin-top:5.87pt;margin-bottom:-5.87pt;}
.font-5{font-size:22.50pt;line-height:41.11pt;}
.pos-17{margin-top:-31px;}
.size-20{min-width:757px;width:757px;min-height:6px;}
.size-21{min-width:314px;width:314px;min-height:6px;height:6px;}
.cont-15{border-radius:3px;}
.pos-18{margin-left:130px;}
.size-22{min-width:313px;width:313px;min-height:6px;height:6px;}
.cont-16{border-radius:3px;}
.pos-19{margin-top:20px;}
.size-23{min-width:768px;width:768px;min-height:328px;}
.para-6{margin-top:3.45pt;margin-bottom:-3.45pt;}
.font-6{font-size:17.25pt;line-height:24.15pt;}
.font-7{font-size:17.25pt;line-height:24.15pt;}
.para-7{margin-top:2.66pt;margin-bottom:-2.66pt;}
.font-8{font-size:13.50pt;line-height:21.73pt;}
.size-24{min-width:768px;width:768px;min-height:63px;}
.pos-21{margin-top:-31px;}
.size-25{min-width:768px;width:768px;min-height:6px;}
.size-26{min-width:314px;width:314px;min-height:6px;height:6px;}
.cont-19{border-radius:3px;}
.pos-23{margin-left:140px;}
.size-27{min-width:314px;width:314px;min-height:6px;height:6px;}
.cont-20{border-radius:3px;}
.pos-24{margin-top:0;}
.size-28{min-width:768px;width:768px;min-height:1203px;}
.font-9{font-size:6.00pt;line-height:9.66pt;}
.para-8{margin-top:1.18pt;margin-bottom:-1.18pt;}
.font-10{font-size:6.00pt;line-height:9.66pt;}
.para-9{margin-top:2.85pt;margin-bottom:-2.85pt;}
.font-11{font-size:14.25pt;line-height:19.95pt;}
.font-12{font-size:13.50pt;line-height:21.73pt;}
.font-13{font-size:13.50pt;line-height:21.73pt;}
.pos-25{margin-left:384px;margin-top:-1156px;}
.size-29{min-width:384px;width:384px;min-height:227px;height:227px;}
.img-7{width:382px;height:227px;}
.img-8{width:382px;height:227px;}
.pos-26{margin-top:-623px;}
.size-30{min-width:384px;width:384px;min-height:288px;height:288px;}
.img-9{width:384px;height:288px;}
.img-10{width:384px;height:288px;}
.pos-27{margin-left:378px;margin-top:-275px;}
.size-31{min-width:390px;width:390px;min-height:180px;height:180px;}
.img-11{width:390px;height:179px;}
.img-12{width:390px;height:179px;}
.pos-28{margin-left:15px;}
.size-32{min-width:753px;width:753px;min-height:30px;}
.para-10{margin-top:2.35pt;margin-bottom:-2.35pt;}
.font-14{font-size:9.00pt;line-height:16.44pt;}
.font-15{font-size:9.00pt;line-height:16.44pt;}
}
@media (min-width:480px) and (max-width:767px) {
.section{min-width:480px;width:480px;}
.size{min-width:480px;width:480px;min-height:1378px;}
.size-2{min-width:480px;width:480px;min-height:202px;}
.pos-3{margin-top:6px;}
.size-3{min-width:141px;width:141px;min-height:40px;}
.size-4{min-width:57px;width:57px;min-height:37px;height:37px;}
.anchor{width:57px;}
.img{width:57px;height:32px;top:2px;}
.img-2{width:57px;height:32px;top:2px;}
.pos-4{margin-left:5px;margin-top:18px;}
.size-5{min-width:79px;width:79px;min-height:22px;}
.para{margin-top:1.96pt;margin-bottom:-1.96pt;}
.font{font-size:7.50pt;line-height:13.70pt;}
.pos-5{margin-top:-156px;}
.size-6{min-width:480px;width:480px;min-height:361px;}
.size-7{min-width:480px;width:480px;min-height:361px;height:361px;}
.img-3{width:480px;height:360px;top:1px;}
.img-4{width:480px;height:360px;top:1px;}
.pos-6{margin-left:28px;margin-top:-341px;}
.size-8{min-width:240px;width:240px;min-height:135px;height:135px;}
.img-5{width:238px;height:135px;}
.img-6{width:238px;height:135px;}
.pos-7{margin-left:217px;margin-top:-191px;}
.size-9{min-width:246px;width:246px;min-height:34px;}
.pos-8{margin-left:6px;}
.size-10{min-width:240px;width:240px;min-height:33px;}
.para-2{margin-top:3.52pt;margin-bottom:-3.52pt;}
.font-2{font-size:13.50pt;line-height:24.66pt;}
.pos-9{margin-top:-21px;}
.size-11{min-width:240px;width:240px;min-height:22px;height:22px;}
.cont-9{border-radius:11px;}
.pos-10{margin-top:-143px;}
.size-12{min-width:478px;width:478px;min-height:142px;}
.pos-11{margin-top:56px;}
.size-13{min-width:275px;width:275px;min-height:86px;}
.pos-12{margin-left:47px;}
.size-14{min-width:204px;width:204px;min-height:84px;}
.para-3{margin-top:9.00pt;margin-bottom:-9.00pt;}
.font-3{font-size:34.50pt;line-height:63.03pt;}
.pos-13{margin-top:-46px;}
.size-15{min-width:275px;width:275px;min-height:48px;height:48px;}
.cont-11{border-radius:24px;}
.pos-14{margin-left:28px;}
.size-16{min-width:175px;width:175px;min-height:139px;}
.size-17{min-width:175px;width:175px;min-height:139px;height:139px;}
.pos-15{margin-left:1px;margin-top:-133px;}
.size-18{min-width:174px;width:174px;min-height:118px;}
.para-4{margin-top:4.11pt;margin-bottom:-4.11pt;}
.font-4{font-size:15.75pt;line-height:28.78pt;}
.pos-16{margin-top:1px;}
.size-19{min-width:480px;width:480px;min-height:39px;}
.para-5{margin-top:3.72pt;margin-bottom:-3.72pt;}
.font-5{font-size:14.25pt;line-height:26.03pt;}
.pos-17{margin-top:-20px;}
.size-20{min-width:473px;width:473px;min-height:4px;}
.size-21{min-width:196px;width:196px;min-height:4px;height:4px;}
.cont-15{border-radius:2px;}
.pos-18{margin-left:81px;}
.size-22{min-width:196px;width:196px;min-height:4px;height:4px;}
.cont-16{border-radius:2px;}
.pos-19{margin-top:13px;}
.size-23{min-width:480px;width:480px;min-height:204px;}
.para-6{margin-top:2.10pt;margin-bottom:-2.10pt;}
.font-6{font-size:10.50pt;line-height:14.70pt;}
.font-7{font-size:10.50pt;line-height:14.70pt;}
.para-7{margin-top:1.63pt;margin-bottom:-1.63pt;}
.font-8{font-size:8.25pt;line-height:13.28pt;}
.pos-20{margin-top:1px;}
.size-24{min-width:480px;width:480px;min-height:39px;}
.pos-21{margin-top:-19px;}
.size-25{min-width:480px;width:480px;min-height:4px;}
.size-26{min-width:196px;width:196px;min-height:4px;height:4px;}
.cont-19{border-radius:2px;}
.pos-23{margin-left:88px;}
.size-27{min-width:196px;width:196px;min-height:4px;height:4px;}
.cont-20{border-radius:2px;}
.pos-24{margin-top:0;}
.size-28{min-width:480px;width:480px;min-height:655px;}
.font-9{font-size:8.25pt;line-height:13.28pt;}
.para-8{margin-top:0.74pt;margin-bottom:-0.74pt;}
.font-10{font-size:3.75pt;line-height:6.04pt;}
.para-9{margin-top:1.80pt;margin-bottom:-1.80pt;}
.font-11{font-size:9.00pt;line-height:12.60pt;}
.font-12{font-size:8.25pt;line-height:13.28pt;}
.font-13{font-size:8.25pt;line-height:13.28pt;}
.pos-25{margin-left:240px;margin-top:-626px;}
.size-29{min-width:240px;width:240px;min-height:142px;height:142px;}
.img-7{width:239px;height:142px;}
.img-8{width:239px;height:142px;}
.pos-26{margin-top:-392px;}
.size-30{min-width:240px;width:240px;min-height:180px;height:180px;}
.img-9{width:240px;height:180px;}
.img-10{width:240px;height:180px;}
.pos-27{margin-left:236px;margin-top:-161px;}
.size-31{min-width:244px;width:244px;min-height:113px;height:113px;}
.img-11{width:244px;height:112px;}
.img-12{width:244px;height:112px;}
.pos-28{margin-left:9px;}
.size-32{min-width:471px;width:471px;min-height:19px;}
.para-10{margin-top:1.57pt;margin-bottom:-1.57pt;}
.font-14{font-size:6.00pt;line-height:10.96pt;}
.font-15{font-size:6.00pt;line-height:10.96pt;}
}
@media (max-width:479px) {
.section{min-width:320px;width:320px;}
.size{min-width:320px;width:320px;min-height:847px;}
.size-2{min-width:320px;width:320px;min-height:134px;}
.pos-3{margin-left:11px;margin-top:4px;}
.size-3{min-width:94px;width:94px;min-height:27px;}
.size-4{min-width:38px;width:38px;min-height:25px;height:25px;}
.anchor{width:38px;}
.img{width:38px;height:21px;top:2px;}
.img-2{width:38px;height:21px;top:2px;}
.pos-4{margin-left:3px;margin-top:12px;}
.size-5{min-width:53px;width:53px;min-height:15px;}
.para{margin-top:1.37pt;margin-bottom:-1.37pt;}
.font{font-size:5.25pt;line-height:9.59pt;}
.pos-5{margin-top:-104px;}
.size-6{min-width:320px;width:320px;min-height:241px;}
.size-7{min-width:320px;width:320px;min-height:241px;height:241px;}
.img-3{width:320px;height:240px;top:1px;}
.img-4{width:320px;height:240px;top:1px;}
.pos-6{margin-left:19px;margin-top:-227px;}
.size-8{min-width:160px;width:160px;min-height:90px;height:90px;}
.img-5{width:158px;height:90px;}
.img-6{width:158px;height:90px;}
.pos-7{margin-left:145px;margin-top:-127px;}
.size-9{min-width:164px;width:164px;min-height:23px;}
.pos-8{margin-left:4px;}
.size-10{min-width:160px;width:160px;min-height:22px;}
.para-2{margin-top:2.35pt;margin-bottom:-2.35pt;}
.font-2{font-size:9.00pt;line-height:16.44pt;}
.pos-9{margin-top:-14px;}
.size-11{min-width:160px;width:160px;min-height:15px;height:15px;}
.cont-9{border-radius:8px;}
.pos-10{margin-top:-95px;}
.size-12{min-width:319px;width:319px;min-height:94px;}
.pos-11{margin-top:37px;}
.size-13{min-width:183px;width:183px;min-height:57px;}
.pos-12{margin-left:31px;}
.size-14{min-width:136px;width:136px;min-height:56px;}
.para-3{margin-top:6.07pt;margin-bottom:-6.07pt;}
.font-3{font-size:23.25pt;line-height:42.48pt;}
.pos-13{margin-top:-31px;}
.size-15{min-width:183px;width:183px;min-height:32px;height:32px;}
.cont-11{border-radius:16px;}
.pos-14{margin-left:19px;}
.size-16{min-width:117px;width:117px;min-height:93px;}
.size-17{min-width:117px;width:117px;min-height:93px;height:93px;}
.pos-15{margin-left:1px;margin-top:-89px;}
.size-18{min-width:116px;width:116px;min-height:79px;}
.para-4{margin-top:2.74pt;margin-bottom:-2.74pt;}
.font-4{font-size:10.50pt;line-height:19.18pt;}
.pos-16{margin-top:1px;}
.size-19{min-width:320px;width:320px;min-height:26px;}
.para-5{margin-top:2.54pt;margin-bottom:-2.54pt;}
.font-5{font-size:9.75pt;line-height:17.81pt;}
.pos-17{margin-top:-13px;}
.size-20{min-width:315px;width:315px;min-height:3px;}
.size-21{min-width:131px;width:131px;min-height:3px;height:3px;}
.cont-15{border-radius:2px;}
.pos-18{margin-left:54px;}
.size-22{min-width:130px;width:130px;min-height:2px;height:2px;}
.cont-16{border-radius:1px;}
.size-23{min-width:320px;width:320px;min-height:123px;}
.para-6{margin-top:1.35pt;margin-bottom:-1.35pt;}
.font-6{font-size:6.75pt;line-height:9.45pt;}
.font-7{font-size:6.75pt;line-height:9.45pt;}
.para-7{margin-top:1.04pt;margin-bottom:-1.04pt;}
.font-8{font-size:5.25pt;line-height:8.45pt;}
.size-24{min-width:320px;width:320px;min-height:27px;}
.pos-21{margin-top:-14px;}
.size-25{min-width:320px;width:320px;min-height:3px;}
.pos-22{margin-top:1px;}
.size-26{min-width:131px;width:131px;min-height:2px;height:2px;}
.cont-19{border-radius:1px;}
.pos-23{margin-left:58px;}
.size-27{min-width:131px;width:131px;min-height:2px;height:2px;}
.cont-20{border-radius:1px;}
.pos-24{margin-top:0;}
.size-28{min-width:320px;width:320px;min-height:386px;}
.font-9{font-size:2.25pt;line-height:3.62pt;}
.para-8{margin-top:0.44pt;margin-bottom:-0.44pt;}
.font-10{font-size:2.25pt;line-height:3.62pt;}
.para-9{margin-top:1.20pt;margin-bottom:-1.20pt;}
.font-11{font-size:6.00pt;line-height:8.40pt;}
.font-12{font-size:5.25pt;line-height:8.45pt;}
.font-13{font-size:5.25pt;line-height:8.45pt;}
.pos-25{margin-left:160px;margin-top:-345px;}
.size-29{min-width:160px;width:160px;min-height:94px;height:94px;}
.img-7{width:158px;height:94px;}
.img-8{width:158px;height:94px;}
.pos-26{margin-top:-240px;}
.size-30{min-width:160px;width:160px;min-height:120px;height:120px;}
.img-9{width:160px;height:120px;}
.img-10{width:160px;height:120px;}
.pos-27{margin-left:157px;margin-top:-103px;}
.size-31{min-width:163px;width:163px;min-height:75px;height:75px;}
.img-11{width:162px;height:75px;}
.img-12{width:162px;height:75px;}
.pos-28{margin-left:6px;}
.size-32{min-width:314px;width:314px;min-height:13px;}
.para-10{margin-top:0.98pt;margin-bottom:-0.98pt;}
.font-14{font-size:3.75pt;line-height:6.85pt;}
.font-15{font-size:3.75pt;line-height:6.85pt;}
}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.size-33{min-width:1200px;width:1200px;min-height:5219px;}
.cont-26{z-index:6;}
.cont-27{z-index:11;}
.cont-28{z-index:10;border:0;border-radius:28px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(251,214,2,0)), color-stop(1, rgb(251,214,2)));background-image:-o-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-webkit-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-ms-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:linear-gradient(to left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-clip:padding-box;}
.cont-29{z-index:12;border:0;border-radius:23px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(251,214,2)), color-stop(1, rgba(251,214,2,0)));background-image:-o-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-webkit-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-ms-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:linear-gradient(to bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-clip:padding-box;}
.cont-30{z-index:13;}
.cont-31{z-index:4;}
.pos-29{position:relative;margin-left:0;margin-top:-65px;}
.size-34{min-width:1200px;width:1200px;min-height:4135px;}
.size-35{min-width:1200px;width:1200px;min-height:7px;}
.size-36{min-width:307px;width:307px;min-height:7px;height:7px;}
.cont-32{z-index:16;border:0;border-radius:4px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-30{position:relative;margin-left:586px;margin-top:0;}
.size-37{min-width:307px;width:307px;min-height:7px;height:7px;}
.cont-33{z-index:17;border:0;border-radius:4px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-31{position:relative;margin-left:0;margin-top:58px;}
.size-38{min-width:1200px;width:1200px;min-height:4023px;}
.para-11{padding-top:0;text-indent:0;margin-top:2.66pt;margin-bottom:-2.66pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-16{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.font-17{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.para-12{padding-top:0;text-indent:0;margin-top:2.53pt;margin-bottom:-2.53pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-18{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.font-19{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:400;font-style:italic;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.pos-32{position:relative;margin-left:23px;margin-top:0;}
.size-39{min-width:1177px;width:1177px;min-height:47px;}
.cont-34{z-index:5;}
.pos-33{position:relative;margin-left:1044px;margin-top:-34px;}
.size-40{min-width:80px;width:80px;min-height:21px;}
.cont-35{z-index:18;}
.vis-2{display:inline-block;overflow:hidden;outline:0;}
.size-41{width:80px;height:18px;}
.font-20{font-family:"Helvetica Neue", sans-serif;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:10.74pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:3px;margin-top:0;margin-bottom:0;}
.button{border:0;background-color:rgb(158,175,185);}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
@media (min-width:960px) and (max-width:1199px) {
.size-33{min-width:960px;width:960px;min-height:4080px;}
.cont-28{border-radius:23px;}
.pos-29{margin-top:-39px;}
.size-34{min-width:960px;width:960px;min-height:3228px;}
.size-35{min-width:960px;width:960px;min-height:8px;}
.size-36{min-width:299px;width:299px;min-height:8px;height:8px;}
.pos-30{margin-left:362px;}
.size-37{min-width:299px;width:299px;min-height:8px;height:8px;}
.pos-31{margin-top:31px;}
.size-38{min-width:960px;width:960px;min-height:3152px;}
.para-11{margin-top:2.07pt;margin-bottom:-2.07pt;}
.font-16{font-size:10.50pt;line-height:16.90pt;}
.font-17{font-size:10.50pt;font-weight:700;line-height:16.90pt;}
.para-12{margin-top:2.07pt;margin-bottom:-2.07pt;}
.font-18{font-family:Arial, Helvetica, sans-serif;font-size:10.50pt;font-weight:700;line-height:16.90pt;}
.font-19{font-size:10.50pt;font-weight:700;font-style:normal;line-height:16.90pt;}
.pos-32{margin-left:18px;}
.size-39{min-width:942px;width:942px;min-height:37px;}
.pos-33{margin-left:830px;margin-top:-26px;}
.size-40{min-width:64px;width:64px;min-height:16px;}
.size-41{width:64px;height:14px;}
.font-20{font-size:7.50pt;line-height:8.95pt;padding-top:2px;}
}
@media (min-width:768px) and (max-width:959px) {
.size-33{min-width:768px;width:768px;min-height:3097px;}
.cont-28{border-radius:18px;}
.pos-29{margin-top:-35px;}
.size-34{min-width:768px;width:768px;min-height:2417px;}
.size-35{min-width:768px;width:768px;min-height:12px;}
.size-36{min-width:238px;width:238px;min-height:8px;height:8px;}
.pos-30{margin-left:292px;margin-top:4px;}
.size-37{min-width:238px;width:238px;min-height:8px;height:8px;}
.pos-31{margin-top:23px;}
.size-38{min-width:768px;width:768px;min-height:2352px;}
.para-11{margin-top:1.63pt;margin-bottom:-1.63pt;}
.font-16{font-size:8.25pt;line-height:13.28pt;}
.font-17{font-size:8.25pt;font-weight:700;line-height:13.28pt;}
.para-12{margin-top:1.63pt;margin-bottom:-1.63pt;}
.font-18{font-family:Arial, Helvetica, sans-serif;font-size:8.25pt;font-weight:700;line-height:13.28pt;}
.font-19{font-size:8.25pt;font-weight:700;font-style:normal;line-height:13.28pt;}
.pos-32{margin-left:15px;}
.size-39{min-width:753px;width:753px;min-height:30px;}
.pos-33{margin-left:674px;margin-top:-22px;}
.size-40{min-width:51px;width:51px;min-height:14px;}
.size-41{width:51px;height:12px;}
.font-20{font-size:6.00pt;line-height:7.16pt;padding-top:2px;}
}
@media (min-width:480px) and (max-width:767px) {
.size-33{min-width:480px;width:480px;min-height:1850px;}
.cont-28{border-radius:11px;}
.pos-29{margin-top:-17px;}
.size-34{min-width:480px;width:480px;min-height:1420px;}
.size-35{min-width:480px;width:480px;min-height:4px;}
.size-36{min-width:149px;width:149px;-ms-transform:scale(1.000000, -1.000000);-webkit-transform:scale(1.000000, -1.000000);transform:scale(1.000000, -1.000000);min-height:4px;height:4px;}
.cont-32{border-radius:2px;}
.pos-30{margin-left:182px;}
.size-37{min-width:149px;width:149px;-ms-transform:scale(1.000000, -1.000000);-webkit-transform:scale(1.000000, -1.000000);transform:scale(1.000000, -1.000000);min-height:4px;height:4px;}
.cont-33{border-radius:2px;}
.pos-31{margin-top:13px;}
.size-38{min-width:480px;width:480px;min-height:1384px;}
.para-11{margin-top:1.04pt;margin-bottom:-1.04pt;}
.font-16{font-size:5.25pt;line-height:8.45pt;}
.font-17{font-size:5.25pt;font-weight:700;line-height:8.45pt;}
.para-12{margin-top:1.04pt;margin-bottom:-1.04pt;}
.font-18{font-family:Arial, Helvetica, sans-serif;font-size:5.25pt;font-weight:700;line-height:8.45pt;}
.font-19{font-size:5.25pt;font-weight:700;font-style:normal;line-height:8.45pt;}
.pos-32{margin-left:9px;}
.size-39{min-width:471px;width:471px;min-height:19px;}
.pos-33{margin-left:416px;margin-top:-14px;}
.size-40{min-width:32px;width:32px;min-height:9px;}
.size-41{width:32px;height:8px;}
.font-20{font-size:3.75pt;line-height:4.47pt;padding-top:1px;}
}
@media (max-width:479px) {
.size-33{min-width:320px;width:320px;min-height:1482px;}
.cont-28{border-radius:8px;}
.pos-29{margin-top:-14px;}
.size-34{min-width:320px;width:320px;min-height:1198px;}
.size-35{min-width:320px;width:320px;min-height:2px;}
.size-36{min-width:92px;width:92px;min-height:1px;height:1px;}
.cont-32{border-radius:1px;}
.pos-30{margin-left:136px;margin-top:1px;}
.size-37{min-width:92px;width:92px;min-height:1px;height:1px;}
.cont-33{border-radius:1px;}
.pos-31{margin-top:10px;}
.size-38{min-width:320px;width:320px;min-height:1174px;}
.para-11{margin-top:0.74pt;margin-bottom:-0.74pt;}
.font-16{font-size:3.75pt;line-height:6.04pt;}
.font-17{font-size:3.75pt;font-weight:700;line-height:6.04pt;}
.para-12{margin-top:0.74pt;margin-bottom:-0.74pt;}
.font-18{font-family:Arial, Helvetica, sans-serif;font-size:3.75pt;font-weight:700;line-height:6.04pt;}
.font-19{font-size:3.75pt;font-weight:700;font-style:normal;line-height:6.04pt;}
.pos-32{margin-left:6px;}
.size-39{min-width:314px;width:314px;min-height:12px;}
.pos-33{margin-left:278px;margin-top:-9px;}
.size-40{min-width:21px;width:21px;min-height:6px;}
.size-41{width:21px;height:5px;}
.font-20{font-size:2.25pt;line-height:2.68pt;padding-top:1px;}
}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.size-42{min-width:1200px;width:1200px;min-height:9891px;}
.cont-36{z-index:8;border:0;border-radius:28px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(251,214,2,0)), color-stop(1, rgb(251,214,2)));background-image:-o-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-webkit-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-ms-linear-gradient(left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:linear-gradient(to left, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-clip:padding-box;}
.cont-37{z-index:12;border:0;border-radius:60px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(251,214,2,0)), color-stop(1, rgb(251,214,2)));background-image:-o-linear-gradient(right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-webkit-linear-gradient(right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:-ms-linear-gradient(right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-image:linear-gradient(to right, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);background-clip:padding-box;}
.cont-38{z-index:10;border:0;border-radius:23px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(251,214,2)), color-stop(1, rgba(251,214,2,0)));background-image:-o-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-webkit-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:-ms-linear-gradient(bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-image:linear-gradient(to bottom, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);background-clip:padding-box;}
.pos-35{position:relative;margin-left:0;margin-top:0;}
.pos-36{position:relative;margin-left:0;margin-top:-51px;}
.size-43{min-width:1200px;width:1200px;min-height:8793px;}
.size-44{min-width:1200px;width:1200px;min-height:11px;}
.size-45{min-width:412px;width:412px;min-height:11px;height:11px;}
.cont-39{z-index:15;border:0;border-radius:6px;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to left, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-37{position:relative;margin-left:376px;margin-top:0;}
.size-46{min-width:412px;width:412px;min-height:11px;height:11px;}
.cont-40{z-index:16;border:0;border-radius:6px;background-image:-webkit-gradient(linear, right top, left top, color-stop(0, rgb(64,64,64)), color-stop(1, rgba(64,64,64,0)));background-image:-o-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-webkit-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:-ms-linear-gradient(right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-image:linear-gradient(to right, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);background-clip:padding-box;}
.pos-38{position:relative;margin-left:0;margin-top:40px;}
.size-47{min-width:1200px;width:1200px;min-height:8695px;}
.cont-41{z-index:14;}
.font-21{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.font-22{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.font-23{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.para-13{padding-top:0;text-indent:0;margin-top:2.70pt;margin-bottom:-2.70pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-24{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:18.90pt;letter-spacing:normal;}
.font-25{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:700;font-style:italic;text-decoration:none;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.font-26{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(0,0,0);line-height:21.73pt;letter-spacing:normal;}
.pos-39{position:relative;margin-left:1056px;margin-top:-34px;}
.size-48{min-width:80px;width:80px;min-height:21px;}
.font-27{font-family:"Helvetica Neue", sans-serif;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:10.74pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:3px;margin-top:0;margin-bottom:0;}
@media (min-width:960px) and (max-width:1199px) {
.size-42{min-width:960px;width:960px;min-height:7526px;}
.cont-36{border-radius:23px;}
.cont-37{border-radius:48px;}
.pos-36{margin-top:-39px;}
.size-43{min-width:960px;width:960px;min-height:6672px;}
.size-44{min-width:960px;width:960px;min-height:9px;}
.size-45{min-width:353px;width:353px;min-height:9px;height:9px;}
.cont-39{border-radius:5px;}
.pos-37{margin-left:254px;}
.size-46{min-width:353px;width:353px;min-height:9px;height:9px;}
.cont-40{border-radius:5px;}
.pos-38{margin-top:30px;}
.size-47{min-width:960px;width:960px;min-height:6595px;}
.font-21{font-size:10.50pt;line-height:16.90pt;}
.font-22{font-family:Arial, Helvetica, sans-serif;font-size:10.50pt;line-height:16.90pt;}
.font-23{font-size:10.50pt;font-weight:400;line-height:16.90pt;}
.para-13{margin-top:2.07pt;margin-bottom:-2.07pt;}
.font-24{font-family:Arial, Helvetica, sans-serif;font-size:10.50pt;line-height:16.90pt;}
.font-25{font-size:10.50pt;font-weight:400;font-style:normal;line-height:16.90pt;}
.font-26{font-size:10.50pt;text-decoration:none;line-height:16.90pt;}
.pos-39{margin-left:852px;margin-top:-27px;}
.size-48{min-width:64px;width:64px;min-height:16px;}
.font-27{font-size:7.50pt;line-height:8.95pt;padding-top:2px;}
}
@media (min-width:768px) and (max-width:959px) {
.size-42{min-width:768px;width:768px;min-height:5633px;}
.cont-36{border-radius:18px;}
.cont-37{border-radius:39px;}
.pos-35{margin-top:1px;}
.pos-36{margin-top:-31px;}
.size-43{min-width:768px;width:768px;min-height:4949px;}
.size-44{min-width:768px;width:768px;min-height:8px;}
.size-45{min-width:285px;width:285px;min-height:8px;height:8px;}
.cont-39{border-radius:4px;}
.pos-37{margin-left:198px;}
.size-46{min-width:285px;width:285px;min-height:8px;height:8px;}
.cont-40{border-radius:4px;}
.pos-38{margin-top:23px;}
.size-47{min-width:768px;width:768px;min-height:4888px;}
.font-21{font-size:8.25pt;line-height:13.28pt;}
.font-22{font-family:Arial, Helvetica, sans-serif;font-size:8.25pt;line-height:13.28pt;}
.font-23{font-size:8.25pt;font-weight:400;line-height:13.28pt;}
.para-13{margin-top:1.63pt;margin-bottom:-1.63pt;}
.font-24{font-family:Arial, Helvetica, sans-serif;font-size:8.25pt;line-height:13.28pt;}
.font-25{font-size:8.25pt;font-weight:400;font-style:normal;line-height:13.28pt;}
.font-26{font-size:8.25pt;text-decoration:none;line-height:13.28pt;}
.pos-39{margin-left:674px;margin-top:-22px;}
.size-48{min-width:51px;width:51px;min-height:14px;}
.font-27{font-size:6.00pt;line-height:7.16pt;padding-top:2px;}
}
@media (min-width:480px) and (max-width:767px) {
.size-42{min-width:480px;width:480px;min-height:3359px;}
.cont-36{border-radius:11px;}
.cont-37{border-radius:24px;}
.pos-35{margin-top:1px;}
.pos-36{margin-top:-19px;}
.size-43{min-width:480px;width:480px;min-height:2931px;}
.size-44{min-width:480px;width:480px;min-height:5px;}
.size-45{min-width:175px;width:175px;min-height:4px;height:4px;}
.cont-39{border-radius:2px;}
.pos-37{margin-left:130px;}
.size-46{min-width:175px;width:175px;min-height:5px;height:5px;}
.cont-40{border-radius:3px;}
.pos-38{margin-top:14px;}
.size-47{min-width:480px;width:480px;min-height:2893px;}
.font-21{font-size:5.25pt;line-height:8.45pt;}
.font-22{font-family:Arial, Helvetica, sans-serif;font-size:5.25pt;line-height:8.45pt;}
.font-23{font-size:5.25pt;font-weight:400;line-height:8.45pt;}
.para-13{margin-top:1.04pt;margin-bottom:-1.04pt;}
.font-24{font-family:Arial, Helvetica, sans-serif;font-size:5.25pt;line-height:8.45pt;}
.font-25{font-size:5.25pt;font-weight:400;font-style:normal;line-height:8.45pt;}
.font-26{font-size:5.25pt;text-decoration:none;line-height:8.45pt;}
.pos-39{margin-left:421px;margin-top:-14px;}
.size-48{min-width:32px;width:32px;min-height:9px;}
.font-27{font-size:3.75pt;line-height:4.47pt;padding-top:1px;}
}
@media (max-width:479px) {
.size-42{min-width:320px;width:320px;min-height:2824px;}
.cont-36{border-radius:8px;}
.cont-37{border-radius:16px;}
.pos-35{margin-top:1px;}
.pos-36{margin-top:-13px;}
.size-43{min-width:320px;width:320px;min-height:2539px;}
.size-44{min-width:320px;width:320px;min-height:2px;}
.size-45{min-width:117px;width:117px;min-height:2px;height:2px;}
.cont-39{border-radius:1px;}
.pos-37{margin-left:86px;}
.size-46{min-width:117px;width:117px;min-height:2px;height:2px;}
.cont-40{border-radius:1px;}
.pos-38{margin-top:11px;}
.size-47{min-width:320px;width:320px;min-height:2513px;}
.font-21{font-size:3.75pt;line-height:6.04pt;}
.font-22{font-family:Arial, Helvetica, sans-serif;font-size:3.75pt;line-height:6.04pt;}
.font-23{font-size:3.75pt;font-weight:400;line-height:6.04pt;}
.para-13{margin-top:0.74pt;margin-bottom:-0.74pt;}
.font-24{font-family:Arial, Helvetica, sans-serif;font-size:3.75pt;line-height:6.04pt;}
.font-25{font-size:3.75pt;font-weight:400;font-style:normal;line-height:6.04pt;}
.font-26{font-size:3.75pt;text-decoration:none;line-height:6.04pt;}
.pos-39{margin-left:278px;margin-top:-9px;}
.size-48{min-width:21px;width:21px;min-height:5px;}
.font-27{font-size:2.25pt;line-height:2.68pt;padding-top:0;}
}
