.size-2{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);height:701px;}
.size-11{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);height:56px;}
.size-15{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgba(251,214,2,0) 0%, rgb(251,214,2) 100%);height:120px;}
.size-17{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(251,214,2) 0%, rgba(251,214,2,0) 100%);height:350px;}
.size-21{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:10px;}
.size-22{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:10px;}
.size-26{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:10px;}
.size-27{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:10px;}
.cont-22{behavior:url(js/PIE.htc);filter:alpha(opacity=21);}
.cont-23{behavior:url(js/PIE.htc);filter:alpha(opacity=21);}
.cont-24{behavior:url(js/PIE.htc);filter:alpha(opacity=21);}
.size-36{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:7px;}
.size-37{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:7px;}
.size-45{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:11px;}
.size-46{behavior:url(js/PIE.htc);-pie-background:linear-gradient(right top, rgb(64,64,64) 0%, rgba(64,64,64,0) 100%);height:11px;}
